html {
  color: $coa-color-almost-black;
  font-family: $coa-font-serif;
  font-size: $coa-em-base;
  font-weight: $coa-font-regular;
  line-height: $coa-base-line-height;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-md-small;
    line-height: $coa-line-height-md-small;
  }
}

svg {
  height: $coa-font-size-small - 0.1rem;
  width: $coa-font-size-small - 0.1rem;
  @include media($coa-medium-screen) {
    height: $coa-font-size-md-small - 0.1rem;
    width: $coa-font-size-md-small - 0.1rem;
  }
}

// Allow elements rendered in main to stack above footer, if necessary.
// For example, the mobile menu on the GuidePage
main {
  z-index: 1;
}

footer {
  z-index: 0;
}
