@mixin responsivetext() {
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-md-small;
    line-height: $coa-line-height-md-small;
  }
  @include media($coa-large-screen) {
    font-size: $coa-font-size-medium;
    line-height: $coa-line-height-medium;
  }
}

//headings
@mixin heading1() {
  font-size: $coa-font-size-medium;
  line-height: $coa-line-height-medium;
  margin-bottom: $coa-spacing-small;
  margin-top: $coa-spacing-medium;

  @include media($coa-small-screen) {
    font-size: $coa-font-size-large;
    line-height: $coa-line-height-large;
    margin-bottom: $coa-spacing-medium;
    margin-top: $coa-spacing-large;
  }

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-xlarge;
    line-height: $coa-line-height-xlarge;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }

  @include media($coa-large-screen) {
    font-size: $coa-font-size-xxlarge;
    line-height: $coa-line-height-xxlarge;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }
}

@mixin heading2() {
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  margin-bottom: $coa-spacing-small;
  margin-top: $coa-spacing-medium;

  @include media($coa-small-screen) {
    font-size: $coa-font-size-medium;
    line-height: $coa-line-height-medium;
    margin-bottom: $coa-spacing-medium;
    margin-top: $coa-spacing-large;
  }

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-large;
    line-height: $coa-line-height-large;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }

  @include media($coa-large-screen) {
    font-size: $coa-font-size-xlarge;
    line-height: $coa-line-height-xlarge;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }
}

@mixin heading3() {
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  margin-bottom: $coa-spacing-small;
  margin-top: $coa-spacing-medium;

  @include media($coa-small-screen) {
    font-size: $coa-font-size-md-small;
    line-height: $coa-line-height-md-small;
    margin-bottom: $coa-spacing-medium;
    margin-top: $coa-spacing-large;
  }

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-medium;
    line-height: $coa-line-height-medium;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }

  @include media($coa-large-screen) {
    font-size: $coa-font-size-medium;
    line-height: $coa-line-height-medium;
    margin-bottom: $coa-spacing-large;
    margin-top: $coa-spacing-xlarge;
  }
}

//other mixin helpers
@mixin box-verticalcenter($height: auto) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: space-between;
}
