$coa-small-screen: 480px;
$coa-medium-screen: 768px;
$coa-large-screen: 1080px;
$coa-xlarge-screen: 1250px;

$coa-space-level1: 0.5rem;
$coa-space-level2: 1.0rem;
$coa-space-level3: 1.5rem;
$coa-space-level4: 2.0rem;
$coa-space-level5: 2.5rem;
$coa-space-level6: 3.0rem;
$coa-space-level7: 4.0rem;
$coa-space-level8: 6.0rem;

$coa-column-count: 12;
$coa-gutter-width: 2.5rem;

$coa-fullwidth-margin: 2rem;
$coa-container-maxwidth: 1200px;
$coa-textwrap-width: 545px;

@mixin box-verticalcenter($height: auto) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: space-between;
}

// COA COLORS

// BLUES
$coa-color-blue: #005EFF;
// PURPLES
$coa-color-light-purple: #D7D2D9;
$coa-color-another-grayish-purple: #EAEAEA;
$coa-color-grayish-purple: #9B90A2;
$coa-color-dark-purple: #240B33;
// ORANGE
$coa-color-orange: #ED6F33;
