//typography
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,600,700|Open+Sans:400,600,700,800');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* TODO: determine fallback fonts */
$coa-font-sans: 'Ibm Plex Sans';
$coa-font-serif: $coa-font-sans;
$coa-font-regular: 400;
$coa-font-medium: 500;
$coa-font-semibold: 600;
$coa-font-bold: 700;
$coa-font-extrabold: 800; //not available with IBM Plex Sans, use coa-font-bold
$coa-em-base: 10px;

$coa-font-size-xxsmall: 1.4rem;
$coa-font-size-xsmall: 1.5rem;
$coa-font-size-small: 1.7rem;
$coa-font-size-smedium: 2rem;
$coa-font-size-md-small: 2.4rem;
$coa-font-size-medium: 3.2rem;
$coa-font-size-large: 3.6rem;
$coa-font-size-xlarge: 4rem;
$coa-font-size-xxlarge: 5.6rem;
$coa-font-size-xxxlarge: 6.4rem;

$coa-line-height-xxsmall: 2rem;
$coa-line-height-xsmall: 2.4rem;
$coa-line-height-small: 2.8rem;
$coa-line-height-smedium: 3rem;
$coa-line-height-md-small: 3.4rem;
$coa-line-height-medium: 4.2rem;
$coa-line-height-large: 4.6rem;
$coa-line-height-xlarge: 5rem;
$coa-line-height-xxlarge: 8.7rem;

$coa-base-font-size: $coa-font-size-small;
$coa-base-line-height: $coa-line-height-small;

//breakpoints
$coa-small-screen: 480px;
$coa-medium-screen: 768px;
$coa-large-screen: 1080px;
$coa-xlarge-screen: 1250px;

//padding / margin
$coa-space-level1: 0.5rem;
$coa-space-level2: 1rem;
$coa-space-level3: 1.5rem;
$coa-space-level4: 2rem;
$coa-space-level5: 2.5rem;
$coa-space-level6: 3rem;
$coa-space-level7: 4rem;
$coa-space-level8: 6rem;

$coa-spacing-xsmall: $coa-space-level1;
$coa-spacing-small: $coa-space-level2;
$coa-spacing-md-small: $coa-space-level3;
$coa-spacing-medium: $coa-space-level4;
$coa-spacing-large: $coa-space-level6;
$coa-spacing-xlarge: $coa-space-level8;

//flexbox grid
$coa-column-count: 12;
$coa-gutter-width: 2rem;
$coa-container-margin: 2rem;
$coa-wrapper-maxwidth: 1210px;
$coa-wrapper-sm-maxwidth: 720px;

//colors
$coa-color-white: #ffffff;
$coa-color-black: #000000;
$coa-color-black-grey: #1B1B1B;

$coa-color-blue: #3282af;
$coa-color-blue-light: #d9e8f6;
$coa-color-blue-dark: #2d759f;
$coa-color-blue-darker: #065889;
$coa-color-blue-darkest: #023654;
$coa-color-blue-active: #edf5ff;

//new COA brand color
$coa-color-primary: #0049c7;
$coa-color-half-primary: rgba(0, 80, 216, 0.5);
$coa-color-almost-black: rgba(23, 23, 23, 1);
$coa-color-decently-black: #212121;
$coa-color-burnt-coffee-black: #2d2e2f;
$coa-color-secondary: #EDF5FF;
$coa-color-secondary-dark: #d9e8f6;
$coa-color-grey: #f0f0f0;
$coa-color-card-grey: #f7f7f7;
$coa-color-dark-grey: #dbdee1;
$coa-color-darker-grey: #585c62;
$coa-color-darkest-grey: #757575;
$coa-color-dark-blue: #162e51;
$coa-color-darker-blue: #1a4480;
$coa-color-mariner-blue: #2672de;

$coa-color-green-light: #02eaa4;

$coa-color-orange: #e03400;
$coa-color-orange-dark: #b82b00;
$coa-color-vintage-vanilla: #FFF5C3;

$coa-color-purple-lightest: #d7d2d9;
$coa-color-purple-lighter: #9b90a2;
$coa-color-purple-light: #5f4d68;
$coa-color-purple: #372145;
$coa-color-purple-dark: #240b33;
$coa-color-purple-darkest: #170821;

$coa-color-gray-lightest: #f4f4f4;
$coa-color-gray-lighter: #eaeaea;
$coa-color-gray-light: #cbcbcb;
$coa-color-gray: #919191;
$coa-color-gray-dark: #363636;
$coa-color-cod-gray: #171717;
$coa-color-gray-4: #F3F3F3;

//borders & border-ish (radius, box shaddows etc...)
$coa-border-radius-medium: 4px;
$coa-border-small-light-gray: 1px solid #e6e6e6;
$coa-border-bottom-small-light-gray: 1.5px solid $coa-color-gray-lighter;
$coa-box-shadow-medium: 0px 3px 6px rgba(0,0,0,0.08);

//magic numbers
$coa-top-menu-max-width: 1210px;
$coa-header-toprow-height: 55px;
$coa-languageselectbar-height: 50px;
$coa-button-border-radius: 4px;
$coa-tile-height: 242px;
$coa-tile-min-width: 30%;
$coa-tile-max-width: 310px;
$coa-tile-group-border-radius: 6px;
$coa-tile-group-border: 4px;
$coa-tile-group-margin: 1%;
$coa-sectionheader-highlight-height: 8px;
$coa-sectionheader-highlight-width: 34px;
$coa-sectionheader-symbol-stroke: 4px;
$coa-sectionheader-symbol-radius: 25px;
$coa-sectionheadersmall-symbol-radius: 30px;
$coa-sectionheadermedium-symbol-radius: 35px;
$coa-sectionheaderlarge-symbol-radius: 40px;
$coa-badge-height: 90px;
$coa-badge-width: 120px;
$coa-badge-stroke: 4px;
$coa-badge-step-radius: 20px;
$coa-badge-margin-lr: 7px;
$coa-badge-margin-tb: 13px;
$coa-badgelarge-height: 165px;
$coa-badgelarge-width: 180px;
$coa-badgelarge-stroke: 6px;
$coa-badgelarge-step-radius: 25px;
$coa-badgelarge-margin-lr: 22px;
$coa-badgelarge-margin-tb: 19px;
$coa-menu-closebtn-height: 4rem;
$coa-herohome-height--default: 100%;
$coa-herohome-height--medium: 40rem;
$coa-herohome-height--large: 44rem;
$coa-herohome-gradient: rgba(28, 35, 28, 0.3);
$coa-menu-border-width: 1px;
$coa-menu-border-radius: 4px;
$coa-menu-bodercolor: #0049c7;

// coa footer things, not sure where we're using others
$coa-color-footer-lightest: #adadad;
$coa-color-footer-darkest: #13171f;
$coa-color-footer-babyblue: #81aefc;
$coa-color-footer-medium: #25303e;
$coa-footer-seal-size: 100px;
$coa-footer-wip-max-width: 300px;
$coa-footer-other-gray: #41444c;
$coa-footer-light-gray: #a3a3a3;
$coa-footer-link-hover: #aacdec;

/*
  USWDS(United State Web Design System) System color tokens
  - Reference: https://designsystem.digital.gov/design-tokens/color/system-tokens/
  - Ideally, this is the design system we're looking to move to.
  - Note: not all colors, specificlly those with transparency will be
    able to fall into this system.
*/
$coa-color-red-cool-5v: #FFF2F5;
$coa-color-red-cool-50v: #E51D3D;
$coa-color-blue-warm-5v: #edf5ff;
$coa-color-blue-warm-60v: #0050D8;
$coa-color-gray-30: #adadad;
