$coa-small-screen: 480px;
$coa-medium-screen: 768px;
$coa-large-screen: 1080px;

$coa-space-level1: 0.5rem;
$coa-space-level2: 1.0rem;
$coa-space-level3: 1.5rem;
$coa-space-level4: 2.0rem;
$coa-space-level5: 2.5rem;
$coa-space-level6: 3.0rem;
$coa-space-level7: 4.0rem;
$coa-space-level8: 6.0rem;

$coa-column-count: 12;
$coa-gutter-width: 2.5rem;

$coa-fullwidth-margin: 2rem;
$coa-container-maxwidth: 1200px;
$coa-textwrap-width: 545px;

$coa-font-semibold: 600;

@mixin box-verticalcenter($height: auto) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: space-between;
}
