//typography
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:400,600,700,800');
/* TODO: determine fallback fonts */
$coa-font-sans: 'Open Sans';
$coa-font-serif: 'Lora';
$coa-font-regular: 400;
$coa-font-semibold: 600;
$coa-font-bold: 700;
$coa-font-extrabold: 800;
$coa-em-base: 10px;

$coa-font-size-xsmall: 1.4rem;
$coa-font-size-small: 1.7rem;
$coa-font-size-md-small: 2rem;
$coa-font-size-medium: 2.6rem;
$coa-font-size-large: 3.6rem;
$coa-font-size-xlarge: 4.4rem;
$coa-font-size-xxlarge: 6.4rem;

$coa-line-height-xsmall: 2.4rem;
$coa-line-height-small: 2.7rem;
$coa-line-height-md-small: 3rem;
$coa-line-height-medium: 3.6rem;
$coa-line-height-large: 4.6rem;
$coa-line-height-xlarge: 5.4rem;
$coa-line-height-xxlarge: 8.7rem;

$coa-base-font-size: $coa-font-size-small;
$coa-base-line-height: $coa-line-height-small;

//breakpoints
$coa-small-screen: 480px;
$coa-medium-screen: 768px;
$coa-large-screen: 1080px;
$coa-xlarge-screen: 1250px;

//padding / margin
$coa-space-level1: 0.5rem;
$coa-space-level2: 1.0rem;
$coa-space-level3: 1.5rem;
$coa-space-level4: 2.0rem;
$coa-space-level5: 2.5rem;
$coa-space-level6: 3.0rem;
$coa-space-level7: 4.0rem;
$coa-space-level8: 6.0rem;

$coa-spacing-xsmall: $coa-space-level1;
$coa-spacing-small: $coa-space-level2;
$coa-spacing-md-small: $coa-space-level3;
$coa-spacing-medium: $coa-space-level4;
$coa-spacing-large: $coa-space-level6;
$coa-spacing-xlarge: $coa-space-level8;

//flexbox grid
$coa-column-count: 12;
$coa-gutter-width: 2rem;
$coa-container-margin: 2rem;
$coa-wrapper-maxwidth: 1325px;
$coa-wrapper-sm-maxwidth: 720px;

//colors
$coa-color-white: #FFFFFF;
$coa-color-black: #000000;

$coa-color-blue: #3282AF;
$coa-color-blue-dark: #2D759F;
$coa-color-blue-darker: #065889;
$coa-color-blue-darkest: #023654;

$coa-color-green-light: #02EAA4;

$coa-color-orange: #E03400;
$coa-color-orange-dark: #B82B00;

$coa-color-purple-lightest: #D7D2D9;
$coa-color-purple-lighter: #9B90A2;
$coa-color-purple-light: #5F4D68;
$coa-color-purple: #372145;
$coa-color-purple-dark: #240B33;
$coa-color-purple-darkest: #170821;

$coa-color-gray-lightest: #F4F4F4;
$coa-color-gray-lighter: #EAEAEA;
$coa-color-gray-light: #CBCBCB;
$coa-color-gray: #919191;
$coa-color-gray-dark: #363636;

//magic numbers
$coa-header-toprow-height: 55px;
$coa-languageselectbar-height: 50px;
$coa-button-border-radius: 4px;
$coa-tile-height: 242px;
$coa-tile-min-width: 200px;
$coa-tile-group-border-radius: 6px;
$coa-tile-group-border: 4px;
$coa-tile-group-margin: 1%;
$coa-sectionheader-highlight-height: 8px;
$coa-sectionheader-highlight-width: 34px;
$coa-sectionheader-symbol-stroke: 4px;
$coa-sectionheader-symbol-radius: 30px;
$coa-sectionheaderlarge-symbol-radius: 40px;
$coa-badge-height: 90px;
$coa-badge-width: 120px;
$coa-badge-stroke: 4px;
$coa-badge-step-radius: 20px;
$coa-badge-margin-lr: 7px;
$coa-badge-margin-tb: 13px;
$coa-badgelarge-height: 165px;
$coa-badgelarge-width: 180px;
$coa-badgelarge-stroke: 6px;
$coa-badgelarge-step-radius: 25px;
$coa-badgelarge-margin-lr: 22px;
$coa-badgelarge-margin-tb: 19px;
$coa-menu-closebtn-height: 4rem;
$coa-herohome-height--default: 26rem;
$coa-herohome-height--medium: 40rem;
$coa-herohome-height--large: 44rem;
$coa-herohome-gradient: linear-gradient(rgba(36, 11, 51, .3), rgba(36, 11, 51, .3));
