.wrapper {
  &.wrapper--sm {
    max-width: $coa-wrapper-sm-maxwidth;
  }
  &.wrapper--hasBorder {
    border-bottom: 1px solid $coa-color-purple-lighter;
    padding-bottom: $coa-spacing-large;
  }
  &.wrapper--hasDashedBorder {
    border-bottom: 1px dashed $coa-color-purple-lighter;
    padding-bottom: $coa-spacing-large;
  }
}
