.coa-Header {
  border-bottom: 1px solid $coa-color-purple-lighter;
  font-family: $coa-font-sans;
  position: relative;
}

.coa-Header--menu-is-open ~ main,
.coa-Header--menu-is-open ~ footer {
  display: none;
  @include media($coa-large-screen) {
    display: block;
  }
}

.coa-Header__controls {
  display: flex;
  height: $coa-header-toprow-height;
  justify-content: space-between;
  @include media($coa-large-screen) {
    padding-left:$coa-spacing-small;
    padding-right:$coa-spacing-small;
  }
}

.coa-Header__left-controls {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  .coa-text-spacer--vertical:after {
    display: block;
    height: $coa-header-toprow-height;
  }
}

.coa-Header__right-controls {
  align-items: center;
  display: none;
  font-size: $coa-font-size-xsmall;
  justify-content: flex-end;
  @include media($coa-medium-screen) {
    display: flex;
  }
}

.coa-Header__menu-toggle {
  font-weight: $coa-font-semibold;
  text-transform: uppercase;
}

.coa-Header__logo {
  color: $coa-color-purple-dark;
  font-weight: $coa-font-semibold;
  text-decoration: none;
  &:visited {
    color: $coa-color-purple-dark;
  }
  @include media($coa-large-screen) {
    font-size: $coa-font-size-medium;
  }
}





.coa-Header__search {
  display: flex;
  span {
    margin-right: $coa-space-level2;
  }
}
