.coa-Header {
  position: relative;
  font-family: $coa-font-sans;
}

.coa-Header__navbar-brand {
  display: flex;
}

.coa-Header__top-row {
  width: 100%;
}

.coa-Header__menu {
  padding: $coa-space-level3 $coa-space-level3 $coa-space-level3 0;
  border-right: 1px solid $coa-color-purple-lighter;
}

.rtl {
  .coa-Header__menu {
    padding: $coa-space-level3 0 $coa-space-level3 $coa-space-level3;
    border-right: none;
    border-left: 1px solid $coa-color-purple-lighter;
  }
}

.coa-Header__logo {
  padding: $coa-space-level3;
  font-family: $coa-font-sans;
  font-weight: 700;
  a {
    color: $color-black;
    text-decoration: none;
    @include media($coa-large-screen) {
      font-size: $coa-font-size-medium;
    }
  }
}

.coa-Header__menu-toggle {
  text-transform: uppercase;
  font-family: $coa-font-sans;
  font-weight: 700;
  cursor: pointer;
}

.coa-Header__right-controls {
  vertical-align: middle;
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding: $coa-space-level3 0;
  svg {
    vertical-align: middle;
  }
}

.coa-Header__search {
  display: flex;
  span {
    margin-right: $coa-space-level2;
  }
}
