.coa-Header {
  padding: $coa-space-level3;
}

.coa-Header__navbar-brand {
  display: flex;
}

.coa-Header__logo {
  a {
    color: $color-black;
    text-decoration: none;
    @media screen and (min-width: $coa-large-screen) {
      font-weight: bold;
      font-size: $h3-font-size;
    }
  }
}

.coa-Header__menu-toggle {
  cursor: pointer;
}

.coa-Header__search {
  vertical-align: middle;
  text-align: right;
  font-size: 1.5rem;
  a {
    color: $color-black;
    text-decoration: none;
  }
  svg {
    vertical-align: middle;
  }
}
