.coa-I18nBanner {
  width: 100%;
  background-color: $color-gray-light;
  padding: $coa-space-level1;
}

.coa-I18nBanner--open {
  background-color: $color-white;
}

.coa-I18nBanner__language-list {
  text-align: right;
  font-size: $small-font-size;
}

.coa-I18nBanner__language {
  display: inline;
  padding: 0 $coa-space-level2;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $color-black;
    &:visited {
      color: $color-black;
    }
  }
}

.coa-I18nBanner__choose-language {
  margin: 0 $coa-space-level1;
}

.coa-I18nBanner__language--active {
  background-color: $color-gray-lighter;
}

.coa-I18nBanner__language--other {
  svg {
    vertical-align: middle;
  }
}

@mixin coa-I18nBanner__other-language-options {
  position: absolute;
  background-color: $color-gray-light;
  top: 5rem;
  right: 0;
  padding: $coa-space-level4 $coa-space-level2;
  width: 100vw;
  text-align: left;
  h4 {
    padding: 0 $coa-space-level2;
  }
  ul {
    list-style: none;
    padding-top: $coa-space-level2;
    li {
      width: 100%;
      padding: $coa-space-level1 $coa-space-level2;
      margin-bottom: 0;
      &:hover {
        background-color: $color-gray-light;
      }
      a {
        width: 100%;
        display: block;
      }
    }
  }
}

.coa-I18nBanner__cancel {
  text-align: center;
}

.coa-I18nBanner__other-language-options--open {
  @include coa-I18nBanner__other-language-options;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
}

.coa-I18nBanner__other-language-options--closed {
  @include coa-I18nBanner__other-language-options;
  display: none;
}
