.coa-LanguageSelectBar {
  width: 100%;
  background-color: $coa-color-purple-darkest;
  color: $coa-color-white;
  font-family: $coa-font-sans;
  z-index: 3;
  transition: 0.5s;
  padding: 0 $coa-space-level1;
}

.coa-LanguageSelectBar__language-list {
  color: $coa-color-white;
  list-style: none;
  padding: $coa-space-level2 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.coa-LanguageSelectBar__language-item {
  cursor: pointer;
  width: 100%;
  padding: $coa-space-level1 $coa-space-level2;
  display: block;
  font-size: $coa-font-size-xsmall;
  text-align: center;
  width: auto;
  margin: 0 0 0 $coa-space-level1;
  @include media($coa-medium-screen) {
    margin: 0 0 0 $coa-space-level3;
  }
  a {
    text-decoration: none;
    color: $coa-color-white;
  }
  &:visited {
    color: $coa-color-white;
  }
}

.coa-LanguageSelectBar__language-item--active {
  background-color: $color-gray-lighter;
  color: $coa-color-purple-dark;
  text-decoration: none;
}
