.coa-LanguageSelectBanner {
  width: 100%;
  background-color: $color-gray-light;
  padding: $coa-space-level1;
  z-index: 3;
  transition: 0.5s;
  height: 50px;
}

.coa-LanguageSelectBanner--open {
  background-color: $color-white;
}

.coa-LanguageSelectBanner__choose-language {
  text-align: right;
  font-size: $small-font-size;
  svg {
    vertical-align: middle;
  }
}

.coa-LanguageSelectBanner__choose-language-link {
  margin: 0 $coa-space-level1;
}

.coa-LanguageSelectBanner__dropdown-menu {
  position: absolute;
  background-color: $color-white;
  top: -250px;
  right: 0;
  padding: $coa-space-level4 $coa-space-level2;
  width: 100vw;
  text-align: left;
  transition: 0.5s;
  z-index: 2;
  height: 250px;
}

.coa-LanguageSelectBanner__dropdown-menu--open {
  border-bottom: 1px solid $color-gray-light;
  top: 5rem;
}

.coa-LanguageSelectBanner__language-list {
  list-style: none;
  padding-top: $coa-space-level2;
}

.coa-LanguageSelectBanner__language-item {
  cursor: pointer;
  width: 100%;
  padding: $coa-space-level1 $coa-space-level2;
  display: block;
  text-decoration: none;
  color: $color-black;
  &:visited {
    color: $color-black;
  }
  &:hover {
    background-color: $color-gray-light;
  }
}

.coa-LanguageSelectBanner__language-item--active {
  background-color: $color-gray-lighter;
}

.coa-LanguageSelectBanner__menu-header {
  padding: 0 $coa-space-level2;
}

.coa-LanguageSelectBanner__cancel {
  text-align: center;
}
