.coa-main {
  span,
  p,
  table,
  form,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $coa-textwrap-width;
  }
}

.coa-main__breadcrumb {
  display: inline-block;
  margin-bottom: $coa-space-level2;
}

.coa-main__title {
  margin-bottom: $coa-space-level7;
  font-weight: $font-bold;

  @include media($coa-medium-screen) {
    font-size: $h1-font-size;
  }
}

// TODO REMOVE THESE HERO CLASSES
.coa-main__hero {
  @include box-verticalcenter(200px);
  background-color: $color-gray-lighter;
  margin-bottom: $coa-space-level4;
  padding: $coa-space-level5;
}
.coa-main__hero--small {
  height: 80px;
}
.coa-main__hero__callout {
  h2 {
    font-weight: $font-bold;
    margin: 0;
  }
}
// END TODO


.coa-main__body {
  margin: 0 $coa-space-level5;
}

.coa-main__steps {
  ol > li {
    margin-bottom: $coa-space-level3;
  }
  &::after{
    content:"";
    margin: $coa-space-level7 0;
    max-width: $coa-textwrap-width;
    height: 1px;
    display: block;
    background-color: $color-gray-light;
  }
}
