.coa-MenuItem {
  text-transform: uppercase;
  font-size: $h5-font-size;
  position: relative;
  svg {
    transition-duration: .3s;
  }
  &:hover {
    .coa-MenuItem-text {
      color: $coa-color-orange;
    }
    .coa-Menu__arrow-down {
      svg {
        transform: rotate(-180deg);
      }
      path {
        fill: $coa-color-orange;
      }
    }
  }
  a {
    color: $coa-color-dark-purple;
    text-decoration: none;
    display: flex;
    &:hover, &:focus {
      .coa-Menu__sublist {
        display: block;
        position: absolute;
      }
    }
  }
  @media screen and (max-width: $coa-large-screen) {
    border-bottom: 2px solid $color-gray-lighter;
    padding: $coa-space-level2 $coa-space-level1 $coa-space-level1;
    margin-bottom: 0;
  }
  @media screen and (min-width: $coa-large-screen) {
    display: flex;
    &:hover, &:focus {
      .coa-Menu__sublist {
        display: block;
        position: absolute;
      }
    }
  }
}

.coa-MenuItem--open {
  .coa-MenuItem-text {
    @media screen and (max-width: $coa-large-screen) {
      margin-bottom: $coa-space-level2;
    }
  }
}

.coa-MenuItem--coming-soon {
  &:hover {
    .coa-MenuItem-text {
      color: $color-gray-medium;
    }
    .coa-Menu__arrow-down {
      path {
        fill: $color-gray-medium;
      }
    }
  }
}

.coa-MenuItem--flex {
  display: flex;
  a {
    flex-shrink: 0;
    text-decoration: underline;
    color: $coa-color-blue;
  }
}

.coa-MenuItem--small {
  font-size: $h6-font-size;
  @media screen and (max-width: $coa-large-screen) {
    padding-bottom: $coa-space-level2;
  }
}

.coa-MenuItem-text {
  flex-shrink: 0;
  @media screen and (max-width: $coa-large-screen) {
    margin-bottom: $coa-space-level1;
  }
}
