.coa-Navmenu {
  @media screen and (min-width: $coa-large-screen) {
    margin: $coa-space-level6 auto 0;
  }
  @media screen and (max-width: $coa-large-screen) {
    position: absolute;
    left: -100vw;
    width: 100vw;
    transition: 0.5s;
    top: 0;
    bottom: 0;
    background-color: $color-white;
    z-index: 2;
  }
}

.coa-Navmenu__list {
  list-style: none;
  @media screen and (max-width: $coa-large-screen) {
    padding: 0 1.2rem;
  }
  @media screen and (min-width: $coa-large-screen) {
    display: flex;
    justify-content: space-between;
  }
}

.coa-Navmenu__item {
  text-transform: uppercase;
  font-size: $h5-font-size;
  position: relative;
  svg {
    transition-duration: .3s;
  }
  &:hover {
    .coa-Navmenu__item-text {
      color: $coa-color-orange;
    }
    .coa-Navmenu__arrow-down {
      svg {
        transform: rotate(-180deg);
      }
      path {
        fill: $coa-color-orange;
      }
    }
  }
  a {
    color: $coa-color-dark-purple;
    text-decoration: none;
    display: flex;
    &:hover, &:focus {
      .coa-Navmenu__sublist {
        display: block;
        position: absolute;
      }
    }
  }
  @media screen and (max-width: $coa-large-screen) {
    border-bottom: 2px solid $color-gray-lighter;
    padding: $coa-space-level2 $coa-space-level1 $coa-space-level1;
    margin-bottom: 0;
  }
  @media screen and (min-width: $coa-large-screen) {
    display: flex;
    &:hover, &:focus {
      .coa-Navmenu__sublist {
        display: block;
        position: absolute;
      }
    }
  }
}

.coa-Navmenu__item--open {
  .coa-Navmenu__item-text {
    @media screen and (max-width: $coa-large-screen) {
      margin-bottom: $coa-space-level2;
    }
  }
}

.coa-Navmenu__item--coming-soon {
  &:hover {
    .coa-Navmenu__item-text {
      color: $color-gray-medium;
    }
    .coa-Navmenu__arrow-down {
      path {
        fill: $color-gray-medium;
      }
    }
  }
}

.coa-Navmenu__item--flex {
  display: flex;
  a {
    flex-shrink: 0;
    text-decoration: underline;
    color: $coa-color-blue;
  }
}

.coa-Navmenu__item--small {
  font-size: $h6-font-size;
  @media screen and (max-width: $coa-large-screen) {
    padding-bottom: $coa-space-level2;
  }
}

.coa-Navmenu__item-text {
  flex-shrink: 0;
  @media screen and (max-width: $coa-large-screen) {
    margin-bottom: $coa-space-level1;
  }
}

.coa-Navmenu__airplane-icon {
  margin: 2px .5rem -3px;
}

.coa-Navmenu__arrow-down {
  margin-left: $coa-space-level1;
}

.coa-Navmenu__plus-sign {
  margin-left: auto;
}

.coa-Navmenu__sublist {
  display: none;
  @media screen and (min-width: $coa-large-screen) {
    background-color: $color-white;
    padding-top: 4rem;
    left: -2rem;
    top: 23px;
    padding-top: 2rem;
    z-index: 3;
  }
}

.coa-Navmenu__sublist--open {
  @media screen and (max-width: $coa-large-screen) {
    display: block;
  }
}

.coa-Navmenu__subitem {
  list-style: none;
  &:hover {
    a {
      color: $coa-color-orange;
    }
  }
  @media screen and (max-width: $coa-large-screen) {
    text-transform: uppercase;
    font-size: $small-font-size;
    padding: $coa-space-level2 $coa-space-level2 0;
    border-top: 2px solid $color-gray-lighter;
  }
  @media screen and (min-width: $coa-large-screen) {
    border-bottom: 2px solid $color-gray-lighter;
    width: 400px;
    text-transform: capitalize;
    font-size: $small-font-size;
    padding: $coa-space-level3 $coa-space-level4;
  }
}

.coa-Navmenu__subitem--coming-soon-message {
  font-style: italic;
}

.coa-Navmenu--open {
  left: 0;
  right: 0;
  overflow: hidden;
}

.coa-Navmenu__close-btn {
  background: transparent;
  padding: 0;
  margin: $coa-space-level1;
  width: auto;
  &:hover, &:active {
    background: transparent;
  }
  svg {
    margin: $coa-space-level1 $coa-space-level2;
  }
}

.coa-Navmenu__overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  background: rgba($color-gray-medium, 1);
  position: absolute;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.coa-Navmenu__overlay--open {
  opacity: 0.3;
  visibility: visible;
}

.coa-Navmenu__footer-text {
  font-size: $h6-font-size;
}
