.coa-SecondaryContentBanner {
  display: inline-block;
  width: 100%;
  p {
    max-width: 100% !important; // TODO: talk to simi about coa-main
    text-align: center;
    font-style: italic;
    font-size: $small-font-size;
    line-height: $coa-space-level5;
    margin: $coa-space-level4 auto;
    @include media($coa-medium-screen) {
      font-size: $h5-font-size;
      line-height: $coa-space-level6;
      margin: $coa-space-level6 auto;
    }
    @include media($coa-large-screen) {
      font-size: $h4-font-size;
      line-height: $coa-space-level7;
      margin: $coa-space-level7 auto;
    }
  }
}
