.coa-SecondaryContentBanner {
  display: inline-block;
  background-color: $coa-color-gray-lightest;
  p {
    text-align: center;
    font-style: italic;
    font-size: $coa-font-size-xsmall;
    line-height: $coa-space-level5;
    margin: $coa-space-level4 auto;
    @include media($coa-medium-screen) {
      font-size: $coa-font-size-md-small;
      line-height: $coa-space-level6;
      margin: $coa-space-level6 auto;
    }
    @include media($coa-large-screen) {
      line-height: $coa-space-level7;
      margin: $coa-space-level7 auto;
    }
  }
}
