.coa-filter__container {}

%coa-filer__label {
    display: block;
    line-height: normal;
    color: $coa-color-black-grey;
}

.coa-filter__rail_label {
    @extend %coa-filer__label;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.coa-filter__box {
    border: 1.5px solid #eaeaea;
    padding: 1.6rem;
}

.coa-filter__box_label {
    @extend %coa-filer__label;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.coa-filter__date_fields_label {
    @extend %coa-filer__label;
    font-weight: 500;
    font-size: 1.6rem;
}

.coa-filter__date_fields {
    display: flex;
    flex-direction: row;
}

.coa-filter__date_input_label {
    @extend %coa-filer__label;
    font-size: 1.4rem;
}

.coa-filter__date_input {
    box-sizing: content-box;
    padding: 0 .25rem;
    text-align: center;

    &.coa-filter__date_input_day,
    &.coa-filter__date_input_month {
        width: 2em;
    }
    &.coa-filter__date_input_year {
        width: 4em;
    }

    // Remove number input up/down arrows
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.coa-filter__calendar_icon {
  display: block;
  font-size: 32px;
  margin-top: 37px;
  color: #0049c7;
  &:hover {
      cursor: pointer;
  }
}
