.coa-filter__container {
    padding-right: 3rem;
    margin-left: 1rem;
}

.coa-filter__filter-by-date-button {
    background-color: $coa-color-blue-warm-5v;
    color: $coa-color-blue-warm-60v;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    &>.material-icons {
        font-size: 2.1rem;
        vertical-align: text-bottom;
        padding-right: 1rem;
    }
    &:hover {
        cursor: pointer;
    }
}


.coa-filter__mobile-popup-background {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow-y: scroll;
    display: none;
    transition: opacity 0.2s ease-in;
    // If opacity is set by explicit "opacity" setting instead of rgba(..., "opacity")
    // then child elements/text won't be able to have a different opacity.
    background-color: rgba(0, 0, 0, .9);
    &.coa-filter__mobile-popup-background-open {
        display: block;
    }
}

.coa-filter__mobile-popup-container {
    opacity: 1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    @include tablet {
        background: $coa-color-white;
        padding: 10rem;
        border-radius: 4px;
    }
}

.coa-filter__mobile-popup-title-container {
    color: $coa-color-white;
    font-size: 3.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    @include tablet {
        color: $coa-color-black;
    }
}

.coa-filter__mobile-popup-title {
    padding-bottom: 2rem;
}

.coa-filter__mobile-close {
    // Give a little more touchable space
    padding-left: 2rem;
    padding-bottom: 2rem;
    &:hover {
        cursor: pointer;
    }
}

%coa-filter__label {
    display: block;
    line-height: normal;
    color: $coa-color-black-grey;
}

.coa-filter__rail_label {
    @extend %coa-filter__label;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.coa-filter__box {
    border: 1.5px solid #eaeaea;
    padding: 1.6rem;
    border-radius: 4px;
    @include mobile-and-tablet {
        background-color: $coa-color-white;
    }
}

.coa-filter__box-label {
    @extend %coa-filter__label;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}

.coa-filter__date-fields-label {
    @extend %coa-filter__label;
    font-weight: 500;
    font-size: 1.6rem;
}

.coa-filter__date-fields {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.coa-filter__date-input-container {
    padding-right: 1rem;
}

.coa-filter__date-input-label {
    @extend %coa-filter__label;
    font-size: 1.4rem;
    margin-bottom: .3rem;
}

$input-box-height: 4.4rem;

.coa-filter__date-input {
    box-sizing: content-box;
    padding: 0 .25rem;
    text-align: center;
    border-radius: 4px;
    border-style: none;
    background-color: $coa-color-gray-4;
    height: $input-box-height;
    width: 8rem;

    @include desktop {
        &.coa-filter__date-input-day,
        &.coa-filter__date-input-month {
            width: 2em;
        }
        &.coa-filter__date-input-year {
            width: 4em;
        }
    }

    // Remove number input up/down arrows
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.coa-filter__calendar-icon-container {
    height: $input-box-height;
    text-align: center;
    border-radius: 4px;
    border-style: none;
    background-color: $coa-color-blue-warm-5v;
    padding: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.coa-filter__calendar-icon {
  font-size: 2.5rem;
  color: $coa-color-blue-warm-60v;
}

// Implement col-xs-12 for proper mobile+tablet sizing with bootstrap
%coa-col-xs-12 {
    box-sizing: border-box;
    -moz-flex-grow: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    flex-basis: 100%;
    max-width: 100%;
}

.coa-daypicker__container {
    @extend %coa-col-xs-12;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color: $coa-color-gray-4;
    margin-top: 1rem;
    &.coa-daypicker__container-hidden {
        visibility: hidden;
        height: 0;
        display: block;
    }
    &>.DayPicker-wrapper {
        padding-bottom: initial;
        &>.DayPicker-NavBar>.DayPicker-NavButton {
            right: 0rem;
        }
        &>.DayPicker-Months {
            &>.DayPicker-Month {
                @extend %coa-col-xs-12;
                &>.DayPicker-Body>.DayPicker-Week {
                    &>.DayPicker-Day {
                        padding: 0em;
                    }
                    &>.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
                        background-color: $coa-color-blue-warm-60v;
                    }
                }
            }
        }
    }
}

.coa-daypicker__year-month-container {
    display: flex;
    flex-wrap: wrap;
    /**
    If any languages have months that go over beyond the max-width,
    then the year select will drop down to the next row.
    **/
    max-width: 16rem;
}

.coa-daypicker__select {
    width: auto;
    font-size: 1.4rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: auto;
    display: inline;
    padding-right: 1.5rem;
    padding-left: .5rem;
    background-position: right .25rem center;
    background-color: $coa-color-gray-4;
}

%coa-filter__button {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    margin-top: 1.5rem;
    padding: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.coa-filter__apply-button {
    @extend %coa-filter__button;
    color: $coa-color-blue-warm-60v;
    background-color: $coa-color-blue-warm-5v;
    margin-top: 1.5rem;
    @include desktop {
        margin-bottom: 2rem;
        &:hover {
            color: $coa-color-black;
            background-color: $coa-color-blue-warm-60v;
        }
    }
    @include mobile-and-tablet {
        margin-top: .5rem;
        color: $coa-color-white;
        background-color: $coa-color-blue-warm-60v;
    }
    @include tablet {
        margin-top: 1rem;
    }
}

.coa-filter__mobile-clear-button {
    @extend %coa-filter__button;
    color: $coa-color-red-cool-50v;
    background-color: $coa-color-red-cool-5v;
    @include mobile {
        margin-top: .5rem;
    }
}
