@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.coa-Pagination__fade-in {
    animation: fadeIn 1s;
}

.coa-Pagination__loading {
    height: 1000px;
}

.coa-PageSelector_container {
  margin: 42px 10px 0px;
  width: 740px;
  text-align: left;
  :first-child {
    padding-left: 0px;
    margin-left: 0px;
  }
}

.coa-PageSelector_page {
  color: #0049C7;
  background-color: #F0F0F0;
  height: 48px;
  min-width: 48px;
  padding: 5px;
  margin-left: -1px;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.coa-PageSelector_page.previous {
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.coa-PageSelector_page.next {
  border-radius: 0px 4px 4px 0px;
  border: none;
}

.coa-PageSelector_page.number-container {
  background-color: rgba(0,0,0,0);
  color: #212121;
  border: solid #F0F0F0 1px;
  position: relative;
  height: 48px;
  top: -1px;
  @include mobile {
    width: 38px;
    min-width: 38px;
  }
}

.coa-PageSelector_page.ellipsis {
  border: none;
  // pointer-events: none;
}


.coa-PageSelector_number {
  font-weight: 900;
  position: relative;
  top: 2px;
}

.coa-PageSelector_page.number-container.active {
  color: #0049C7;
  background-color: #D9E8F6;
  pointer-events: none;
}

.coa-PageSelector_page-chevron {
  position: relative;
  height: 24px;
  top: 7px;
  left: 1px;
}

.coa-PageSelector_text {
  display: inline-block;
  padding-left: 11px;
  padding-right: 10px;
  height: 32px;
  line-height: 30px;
  border-left: 1px solid #dbdee1;
}

.coa-PageSelector_text.right {
  border: none;
  border-right: 1px solid #dbdee1;
  padding-left: 8px;
  padding-right: 12px;
}

.coa-PageSelector_page:hover {
  background-color: #0049C7;
  color: #FFFFFF;
}

.coa-PageSelector_page.active:hover {
  background-color: #0049C7;
  color: #FFFFFF;
}

.coa-PageSelector_page:hover .coa-CheveronLeftBlue {
  fill: #FFFFFF;
}

.coa-PageSelector_page .coa-CheveronLeftBlue:hover {
  fill: rgba(0,0,0,0);
}

.coa-PageSelector_page:hover .coa-CheveronRightBlue {
  fill: #FFFFFF;
}

.coa-PageSelector_page .coa-CheveronRightBlue:hover {
  fill: rgba(0,0,0,0);
}

.coa-CheveronLeftBlue, .coa-CheveronRightBlue {
  pointer-events: none;
}
