{
  "extends": "react-static/.babelrc",
  "plugins": [
    [
      "react-intl-auto", {
        "removePrefix": true,
        "filebase": false,
        "includeExportName": true,
        "extractComments": true
      },
      "react-intl", {
        "messagesDir": "./i18n/messages"
      },
    ]
  ],
}
