# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# dev
/tmp
/storybook-static
.env

# testing
/coverage
/cypress/fixtures
/cypress/plugins
/cypress/support

# production
/build
/dist
/_dist

# IDEs
.idea/
.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
local
sandbox/bundle.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sass to css
src/**/*.css

# react-static
artifacts/
