.coa-HtmlFromRichText {
  margin: $coa-spacing-large 0;
}

.coa-HtmlFromRichText__content {
  > br {
    display: none;
  }

  > h1 {
    @include heading2();
    // text-transform: uppercase;
    // text-align: center;
  }

  > h2 {
    color: $coa-color-primary;
    border-bottom: 4px solid $coa-color-half-primary;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
  }

  > h3 {
    @include heading3();
    margin-bottom: 0;
    font-size: $coa-font-size-small;

    & + p {
      margin-top: $coa-spacing-small;
    }
  }

  > h4 {
    @include heading4();
  }

  > ul,
  > ol {
    list-style-position: outside;
    margin-bottom: $coa-spacing-medium;
    margin-top: $coa-spacing-medium;
    padding-left: $coa-spacing-medium;

    p {
      display: inline;
    }
  }
}

.coa-HtmlFromRichText_exteranlLink {
  // This hides the "a" tag underline so we can style separately for the icon and 
  // prevent the icon from new line breaking all alone...
  text-decoration-color: rgba(0,0,0,0);
}

.coa-HtmlFromRichText_exteranlLinkIcon {
  font-size: 14px;
  display: inline;
  white-space: nowrap;
  padding-left: 2px;
  line-height: 20px;
}
