.coa-FullSiteMenu {
  // background: $coa-color-primary;
  background: $coa-color-white;
  position: relative;
  // max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.coa-ThemesNav {
  display: flex;
  align-items: center;
  padding: 0 4px; // 🚨 coa
  @include media($coa-medium-screen) {
    border-top: 1px solid rgba($coa-color-white, 0.5);
  }
}

.coa-FullSiteMenu__close {
  display: none;
  cursor: pointer;

  @include media($coa-medium-screen) {
    display: block;
  }
}

.coa-ThemesNav__list {
  display: none;

  @include media($coa-medium-screen) {
    display: flex;
    flex: 1;
    list-style: none;
    flex-direction: row;
    align-items: center;
  }
}

.coa-ThemesNav__theme {
  margin: 0;
}

.coa-ThemesNav__link {

  &:hover {
    color: $coa-color-white;
    background-color: $coa-color-primary;
    box-shadow: 2px 5px 7px rgba(0,0,255,0.4);
    transition: background-color .3s, box-shadow .3s;
  }
  transition: background-color .3s, box-shadow .3s;

  //
  //

  // background-color: pink;
  height: 36px;
  border-radius: 18px;
  padding-top: 3px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  // box-shadow: 2px 5px 7px rgba(255,255,255,1);



  //
  //
  cursor: pointer;
  text-decoration: none;
  font-size: $coa-font-size-xsmall;
  // color: $coa-color-white;
  color: $coa-color-primary;

  font-weight: $coa-font-medium;
  display: block;
  // padding: $coa-spacing-medium $coa-space-level6 $coa-spacing-medium 0;

  @include tablet {
    line-height: $coa-line-height-xxsmall;
    font-size: $coa-font-size-xxsmall;
    height: 8rem;
  }

}

.coa-ThemesNav__link.es {
  font-size: 13px; // 🚨USE coa- ....
  padding-top: 5px;
  &:hover {
    color: $coa-color-white;
    background-color: $coa-color-primary;
    box-shadow: 2px 5px 7px rgba(0,0,255,0.4);
    transition: background-color .3s, box-shadow .3s;
  }
  transition: background-color .3s, box-shadow .3s;
}

.coa-ThemesNav--open {
  border-top: $coa-menu-border-width solid $coa-menu-bodercolor;
  border-left: $coa-menu-border-width solid $coa-menu-bodercolor;
  border-right: $coa-menu-border-width solid $coa-menu-bodercolor;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.coa-FullSiteMenu__subNav {
  display: none;
  background: $coa-color-white;
  position: absolute;
  width: 100%;
  padding: $coa-spacing-medium 0;

  @include media($coa-medium-screen) {
    padding: 0;
  }
}

//removing css hover .coa-FullSiteMenu:hover
.coa-FullSiteMenu--active {
  background: $coa-color-white;
  border-radius: $coa-button-border-radius $coa-button-border-radius 0 0;

  .coa-ThemesNav {
    border-top: none;
  }

  .coa-ThemesNav__link {
    color: $coa-color-dark-blue;
  }

  .coa-FullSiteMenu__subNav {
    @include media($coa-medium-screen) {
      &:before {
        content: '';
        height: calc(100% + 1px);
        width: 100%;
        border-left: $coa-menu-border-width solid $coa-menu-bodercolor;
        border-right: $coa-menu-border-width solid $coa-menu-bodercolor;
        border-bottom: $coa-menu-border-width solid $coa-menu-bodercolor;
        position: absolute;
        left: 0;
        top: -1px;
        border-bottom-left-radius: $coa-menu-border-radius;
        border-bottom-right-radius: $coa-menu-border-radius;
      }
    }

    display: block;
    border-top: 1px solid $coa-color-dark-grey;
    z-index: 2;
    border-bottom-left-radius: $coa-menu-border-radius;
    border-bottom-right-radius: $coa-menu-border-radius;
  }
}

.coa-ThemesTopicsMenu__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coa-ThemesTopicsMenu__section {
  margin-left: 0;
  width: 100%;
  position: relative;

  @include media($coa-medium-screen) {
    width: 25%;
    padding: $coa-spacing-large $coa-spacing-small $coa-spacing-large 0;
  }
}

.coa-ThemesTopicsMenu__theme {
  font-size: $coa-font-size-small;
  font-weight: $coa-font-medium;
  line-height: $coa-line-height-small;
  color: $coa-color-dark-blue;
  margin-bottom: $coa-spacing-xsmall;
}

.coa-ThemesTopicsMenu__topics {
  margin-left: $coa-spacing-medium;

  @include media($coa-medium-screen) {
    margin-left: 0;
  }
}

.coa-ThemesTopicsMenu__topic {
  margin: 0;
  list-style: none;
  display: flex;

  &:before {
    color: $coa-color-darkest-grey;
    font-size: $coa-font-size-xsmall;
    margin-right: $coa-spacing-small;
    margin-bottom: $coa-spacing-xsmall;
  }
}

.coa-ThemesTopicsMenu__link {
  text-decoration: none;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-xsmall;
}

.coa-FullSiteMenu__coming-soon {
  margin: 0;
  color: $coa-color-darkest-grey;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-xsmall;
  font-style: italic;
}

.coa-ThemesTopicsMenu--FooterSiteMap {
  .coa-FullSiteMenu__coming-soon {
    color: $coa-footer-light-gray;
  }
}

.coa-MenuInfo {
  background: $coa-color-grey;
  display: none;
  border-top: $coa-menu-border-width solid $coa-menu-bodercolor;
  border-bottom-left-radius: $coa-menu-border-radius;
  border-bottom-right-radius: $coa-menu-border-radius;

  @include media($coa-medium-screen) {
    display: block;
  }
}

.coa-MenuInfo__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $coa-spacing-small 0;
}

.coa-MenuInfo__disclaimer {
  font-size: $coa-font-size-small;
  color: $coa-color-decently-black;
  flex: 1 0 50%;
}

.coa-MenuInfo__resource {
  // techdebt: we may be dealing with some weird div sizing here
  // the links weren't clickable without this fix
  z-index: 4;

  display: flex;
  align-items: center;
  margin-right: $coa-spacing-small;

  &:last-child {
    margin-right: 0;
  }
}

.coa-MenuInfo__svg {
  display: flex;
  margin-right: $coa-spacing-small;

  svg {
    background: white;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
  }

  i {
    color: $coa-color-primary;
    font-size: 4.5rem;
  }
}

.coa-MenuInfo__link {
  color: $coa-color-primary;
  font-weight: $coa-font-medium;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-xsmall;
}

.coa-ThemesNav__search-container-icon {
  display: none;
  position: absolute;
  right: 0;
  padding-right: $coa-space-level4;
  font-size: $coa-font-size-medium;
  .coa-ThemesNav__search-icon {
    color: $coa-color-white;
    padding-top: $coa-space-level1;
    vertical-align: top;
  }
  @include mobile {
    display: block;
  }
}

.coa-ThemesNav__search-container {
  background-color: $coa-color-white;
  border-radius: $coa-border-radius-medium;
  font-weight: $coa-font-semibold;
  padding-right: $coa-space-level4;
  padding-top: $coa-space-level1;
  text-decoration: none;
  height: 44px;
  @include mobile {
    display: none;
  }
}

.coa-ThemesNav__search-icon {
  padding-top: 0.8rem;
  padding-left: 1.7rem;
  padding-right: $coa-space-level1;
  color: $coa-color-primary;
  font-size: $coa-font-size-smedium;
}

.coa-ThemesNav__search-title {
  font-size: 1.6rem;
  vertical-align: top;
}
