.coa-ThemesTopicsMenuMobile {
  background-color: $coa-color-white;
  border-radius: $coa-menu-border-radius;
  max-width: 463px;
  z-index: 2 !important;
}

.coa-ThemesTopicsMenu__theme.mobile {
  // color: green;
}
