@mixin shared-tile {
  background-color: $coa-color-white;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-family: $coa-font-sans;
  min-width: $coa-tile-min-width;
  text-decoration: none;
  align-items: stretch;

  &:active {
    background-color: $coa-color-darker-blue;

    .coa-Tile__text,
    i {
      color: $coa-color-white;
    }
  }
}

@mixin regular-tile {
  @include shared-tile;
  border: 1px solid $coa-color-primary;
  border-radius: $coa-button-border-radius;
  padding: $coa-spacing-medium $coa-spacing-small;

  &:hover {
    background-color: $coa-color-secondary;

    .coa-Tile__text {
      border-right: 1px solid $coa-color-white;
    }

    .coa-Tile__text,
    i {
      color: $coa-color-primary;
    }
  }
}

@mixin compact-tile {
  @include shared-tile;
  box-sizing: border-box;

  border-top: 1px solid $coa-color-gray-light;
  border-left: 1px solid $coa-color-gray-light;
  border-right: 1px solid $coa-color-gray-light;
  border-bottom: 1px solid transparent;

  padding: $coa-spacing-small $coa-spacing-small;

  &:hover {
    background-color: $coa-color-gray-lightest;
    border-color: $coa-color-primary !important;
  }
}

@mixin compact-tile-container {
  margin-bottom: 0;

  // Since we wrap our tiles in tilegroup, we need to
  // do our first/last-child logic here
  &:first-child {
    .coa-Tile {
      border-top: 1px solid $coa-color-gray-light;
      border-top-right-radius: $coa-button-border-radius;
      border-top-left-radius: $coa-button-border-radius;
    }

    .coa-Tile--compact {
      border-top: 1px solid $coa-color-gray-light;
      border-top-right-radius: $coa-button-border-radius;
      border-top-left-radius: $coa-button-border-radius;
    }
  }

  &:last-child {
    .coa-Tile {
      border-bottom: 1px solid $coa-color-gray-light;
      border-bottom-right-radius: $coa-button-border-radius;
      border-bottom-left-radius: $coa-button-border-radius;
    }

    .coa-Tile--compact {
      border-bottom: 1px solid $coa-color-gray-light;
      border-bottom-right-radius: $coa-button-border-radius;
      border-bottom-left-radius: $coa-button-border-radius;
    }
  }
}

.coa-Tile {
  @include tablet-and-desktop {
    @include regular-tile;
  }

  @include mobile {
    @include compact-tile;
  }
}

.coa-Tile--compact {
  @include compact-tile;
}

.coa-TileGroup__tile {
  display: flex;
  margin-bottom: $coa-spacing-small;

  @include mobile {
    @include compact-tile-container;
  }
}

.coa-Tile__tag {
  color: $coa-color-blue;
  font-size: $coa-font-size-small;
  font-weight: $coa-font-bold;
  text-transform: uppercase;
}

.coa-Tile__content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.coa-Tile__text {
  color: $coa-color-almost-black;
  flex-basis: 90%;
  font-size: $coa-font-size-xsmall - 0.1;
  font-weight: $coa-font-medium;
  line-height: $coa-line-height-xsmall - 0.3;
  margin: 0;
  padding-right: $coa-spacing-md-small;
  margin-right: $coa-spacing-md-small;
  border-right: 1px solid $coa-color-dark-grey;
}

.coa-Tile__icon {
  height: $coa-font-size-md-small; //based on coa-Tile__text font size
  width: $coa-font-size-md-small; //based on coa-Tile__text font size
}
