.coa-TileGroup {
  // margin-left: $coa-container-margin;
  // margin-right: $coa-container-margin;
  max-width: $coa-wrapper-maxwidth;
  margin-right: 0;
  margin-left: 0;

  padding: $coa-spacing-large $coa-spacing-medium;

  @include mobile {
    background: $coa-color-primary;
  }
}

// we need margin L/R auto on the homepage
.coa-HeroHome__container {
  .coa-TileGroup {
    margin-left: auto;
    margin-right: auto;
  }
}

.coa-TopicPage__tile-group {
  .coa-TileGroup {
    background: none;
  }

  .coa-TileGroup__title {
    color: $coa-color-almost-black;
  }
}

.coa-TileGroup__title {
  font-weight: $coa-font-semibold;
  font-size: $coa-font-size-medium;
  color: $coa-color-almost-black;

  a {
    color: $coa-color-almost-black;
    text-decoration: none;
  }

  @include mobile {
    color: $coa-color-white;
    font-size: $coa-font-size-md-small;
  }
}

.coa-TileGroup__tiles-container {
  @include tablet-and-desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.coa-TileGroup--compact {
  background: none;
}
