.coa-TileGroup {
  .coa-TileGroup__description {
    text-align: center;
  }

  .coa-Tile {
    margin-bottom: $coa-gutter-width / 2;
    margin-top: $coa-gutter-width / 2;
  }
}

.coa-TileGroup--border {
  border: $coa-tile-group-border solid $coa-color-blue;
  border-radius: $coa-tile-group-border-radius;
  padding: 0 $coa-space-level4 $coa-space-level4;
  margin: $coa-space-level7 $coa-space-level6;
}

.coa-TileGroup__tile {
  display: flex;
}
