.coa-TileGroup {
  padding: $coa-spacing-xlarge 0;

  .coa-TileGroup__description {
    text-align: center;
  }
}

.coa-TileGroup--service {
  background: $coa-color-secondary;
  padding: $coa-spacing-xlarge 0;
}

.coa-TileGroup__title {
  font-weight: $coa-font-semibold;
  font-size: $coa-font-size-medium;
  color: $coa-color-almost-black;
}
