.coa-HomepageAlert__container {
  background-color: #ffbe2e;
  height: 135px;
  @include media($coa-medium-screen) {
    height: 64px;
  }
}

.coa-HomepageAlert__content {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  @include media($coa-medium-screen) {
    flex-direction: row;
    height: 64px;
  }
}

.coa-HomepageAlert__label {
  width: 283px;
  height: 43px;
  background-color: rgba(255, 255, 255, .7);
  padding: 10px;
  border-radius: 22px;
  margin-top:18px;
  @include media($coa-medium-screen) {
    width: 266px;
    margin-top:10px;
  }
}

.coa-HomepageAlert__label--text {
  width: 253px;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}

.coa-HomepageAlert__link {
  font-size: 18px;
  width: 238px;
  @include media($coa-medium-screen) {
    width: 600px;
    padding-left:20px;
  }
}