.coa-HomepageAlert__container {
  background-color: #face2f;
  @include media($coa-medium-screen) {
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.coa-HomepageAlert__container.textContent {
  padding: 0px;
}

.coa-HomepageAlert__content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  justify-content: space-between;
  @include media($coa-medium-screen) {
    max-width: $coa-top-menu-max-width;
    flex-direction: row;
    height: 73px;
    justify-content: inherit;
  }
  @include media($coa-large-screen) {
    padding-left: 16px;
    height: 52px;
  }
}

.coa-HomepageAlert__content.textContent {
  padding-left: 0px;
}

.coa-HomepageAlert__label {
  height: 40px;
  margin-top:18px;
  font-weight: 500;
  width: 220px;
  @include media($coa-large-screen) {
    margin-top: unset;
    width: unset;
  }
  @include media($coa-medium-screen) {
    margin-top: unset;
  }
}

.coa-HomepageAlert__label--content {
  width: 253px;
  font-size: 18px;
  line-height: 27px;
}

.coa-HomepageAlert__label--icon {
  display:none;
  @include media($coa-medium-screen) {
    display: inline;
    top: 6px;
    position: relative;
    left: 10px;
  }
}

.coa-HomepageAlert__label--text {
  position: relative;
  left: 12px;
  font-size: 16px;
}

.coa-HomepageAlert__link {
  font-size: 16px;
  padding-right: 16px;
  color: #1b1b1b;
  line-height: 2.8rem;
  @include media($coa-medium-screen) {
    padding-left:20px;
    padding-top:unset; 
    width: 450px;
  }
  @include media($coa-large-screen) {
    width: unset;
  }
}

.coa-HomepageAlert__description {
  display: none;
  @include media($coa-medium-screen) {
    display: inline;
    padding-right: 8px;
  }
}

.coa-HomepageAlert__link-external {
  color: #1b1b1b;
  &:visited {
    color: #1b1b1b;
  }
  span {
    display: none;
    @include media($coa-medium-screen) {
      display: inline;
    }
  }
  a {
    display: inline-block;
    postiion: relative;
    padding-left: 500px;
    margin-left: -500px;
  }
}

.coa-HomepageAlert__link-icon {
  padding: 0 4px;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.coa-HomepageAlert__label--text-content {
  font-size: 18px;
  line-height: 26px;
  background-color: #fff5c3;
  margin-bottom: 20px;
}

.coa-LocationAlert__block {
  padding: 16px;
  border-top: solid 1px #fee685;
  display: flex;
  justify-content: space-between;
}

.coa-LocationAlert__link-icon {
  padding: 0 4px;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.coa-LocationAlert__link-external {
  color: #1b1b1b;
  text-decoration: none;
  &:visited {
    color: #1b1b1b;
  }
  span {
    display: none;
    @include media($coa-medium-screen) {
      display: inline;
    }
  }
  a {
    display: inline-block;
    position: relative;
    padding-left: 500px;
    margin-left: -500px;
  }
}