.coa-HomepageAlert__container {
  background-color: #face2f;
  padding-bottom: 2rem;
  @include media($coa-medium-screen) {
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.coa-HomepageAlert__container.textContent {
  padding: 15px 30px 24px 24px;
  margin-bottom: 20px;
}

.coa-HomepageAlert__content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-left: 16px;
  color: #1b1b1b;
  @include media($coa-medium-screen) {
    max-width: $coa-top-menu-max-width;
    flex-direction: row;
    height: 52px;
  }
}

.coa-HomepageAlert__label {
  height: 40px;
  margin-top:18px;
  font-weight: 500;
  @include media($coa-medium-screen) {
    margin-top: unset;
  }
}

.coa-HomepageAlert__label--content {
  width: 253px;
  font-size: 18px;
  line-height: 27px;
}

.coa-HomepageAlert__label--icon {
  display: inline;
  top: 6px;
  position: relative;
  left: 10px;
}

.coa-HomepageAlert__label--text {
  position: relative;
  left: 12px;
  font-size: 16px;
}

.coa-HomepageAlert__link {
  font-size: 16px;
  padding-right: 16px;
  color: #1b1b1b;
  padding-top:8px;
  line-height: 2.8rem;
  @include media($coa-medium-screen) {
    padding-left:20px;
    padding-top:unset;
  }
}

.coa-HomepageAlert__description {
  padding-right: 8px;
}

.coa-HomepageAlert__link-external {
  color: #1b1b1b;
  &:visited {
    color: #1b1b1b;
  }
}

.coa-HomepageAlert__link-icon {
  color: #936f38;
  padding: 0 4px;
  font-size: 16px;
  position: relative;
  top: 3px;
}

.coa-HomepageAlert__label--text-content {
  font-size: 18px;
  line-height: 26px;
  padding-top: 5px;
}
