.coa-SearchBar { // 🚨if noted out remove class name too!
  text-decoration: none;
  // padding-top: $coa-space-level1;
}

.coa-SearchBar__container {
  background-color: $coa-color-white;
  border-radius: $coa-border-radius-medium;
  // margin-top: $coa-space-level1;
  height: 40px;
  max-height: 40px;
  @include mobile {
    display: none;
  }
}

.coa-SearchBar__input {
  display: inline-block;
  width: 360px;
  // padding: 5px;
  text-decoration: none;
  border: none;
  border-radius: $coa-border-radius-medium;
}

.coa-SearchBar__search-button {
  text-decoration: none;
  background-color: $coa-color-primary;
  border-radius: $coa-border-radius-medium;
  color: $coa-color-white !important; // Overides needed here for default <a> tags.
  height: 34px;
  cursor: pointer;
}

.coa-SearchBar__search-button-text {
  font-weight: $coa-font-semibold;
  font-size: $coa-font-size-xsmall;
}


// OLD OLD OLD OLD OLD


// .coa-SearchBar {
//   order: 3;
//   align-items: center;
//   justify-content: flex-end;
//   margin-right: 2rem;
//   padding-right: 2rem;
//
//   @include media($coa-medium-screen) {
//     margin-right: 0;
//   }
//
//   display: flex;
//
//   a {
//     font-size: $coa-font-size-xsmall;
//   }
//   svg {
//     height: $coa-font-size-xsmall - 0.1rem; //based on parent element font-size
//     width: $coa-font-size-xsmall - 0.1rem; //based on parent element font-size
//     vertical-align: -0.2rem;
//   }
// }
//
// .coa-SearchBar__search-icon {
//   padding-top: 0.8rem;
//   padding-left: 1.7rem;
//   padding-right: $coa-space-level1;
//   color: $coa-color-primary;
//   font-size: $coa-font-size-smedium;
// }
//
// .coa-SearchBar__search-title {
//   font-size: 1.6rem;
//   vertical-align: top;
//   color: $coa-color-primary;
// }
// /*
//   🚨NOTE
//   - let's just use classes its WAY off how we've done it.
// */
// .coa-SearchBar__search-button, .coa-SearchBar__container {
//   @include mobile {
//     display: none;
//   }
// }
//
//
// /*  SearchBar CLOSED  */
// // .coa-SearchBar__search-button {
// //   background-color: $coa-color-white;
// //   border-radius: $coa-border-radius-medium;
// //   font-weight: $coa-font-semibold;
// //   padding-right: $coa-space-level4;
// //   padding-top: $coa-space-level1;
// //   text-decoration: none;
// //   height: 34px;
// //   cursor: pointer;
// // }
//
//
// /*  SearchBar OPEN  */
// .coa-SearchBar__container {
//   background-color: $coa-color-white;
//   border-radius: $coa-border-radius-medium;
//   width: 472px;
//   height: 40px;
//   input {
//     display: inline-block;
//     width: 360px;
//     padding: 5px;
//   }
//   div {
//     display: inline-block;
//     width: 91px;
//     height: 34px;
//     float: right;
//     margin-top: 3px;
//     margin-right: 3px;
//
//     background-color: $coa-color-primary;
//     border-radius: $coa-border-radius-medium;
//     text-align: center;
//     a {
//       text-decoration: none;
//     }
//     span, i {
//       color: $coa-color-white;
//       font-size: $coa-font-size-xxsmall;
//       font-weight: $coa-font-medium;
//     }
//     i {
//       font-size: 16px;
//     }
//   }
// }
//
// .coa-SearchBar__search-container {
//   position: relative;
//   top: 0px;
//   right: 0px;
//   text-decoration: none;
//   color: $coa-color-white;
//   background-color: $coa-color-primary;
// }
//
//
