.coa-SearchBar {
  order: 3;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-right: 2rem;

  @include media($coa-medium-screen) {
    margin-right: 0;
  }

  display: flex;
  a {
    font-size: $coa-font-size-xsmall;
  }
  svg {
    height: $coa-font-size-xsmall - 0.1rem; //based on parent element font-size
    width: $coa-font-size-xsmall - 0.1rem; //based on parent element font-size
    vertical-align: -0.2rem;
  }
}

.coa-SearchBar__search-icon {
  padding-top: 0.8rem;
  padding-left: 1.7rem;
  padding-right: $coa-space-level1;
  color: $coa-color-primary;
  font-size: $coa-font-size-smedium;
}

.coa-SearchBar__search-title {
  font-size: 1.6rem;
  vertical-align: top;
  color: $coa-color-primary;
}
/*
  🚨NOTE
  - let's remove classes and just target a, input, div, etc... etc..
*/
.coa-SearchBar__search-button, .coa-SearchBar__container {
  @include mobile {
    display: none;
  }
}


/*  SearchBar CLOSED  */
.coa-SearchBar__search-button {
  background-color: $coa-color-white;
  border-radius: $coa-border-radius-medium;
  font-weight: $coa-font-semibold;
  padding-right: $coa-space-level4;
  padding-top: $coa-space-level1;
  text-decoration: none;
  height: 34px;
  cursor: pointer;
}


/*  SearchBar OPEN  */
.coa-SearchBar__container {
  background-color: $coa-color-white;
  border-radius: $coa-border-radius-medium;
  width: 472px;
  height: 40px;
  input {
    display: inline-block;
    width: 360px;
    padding: 5px;
  }
  div {
    display: inline-block;
    width: 91px;
    height: 34px;
    float: right;
    margin-top: 3px;
    margin-right: 3px;

    background-color: $coa-color-primary;
    border-radius: $coa-border-radius-medium;
    text-align: center;
    a {
      text-decoration: none;
    }
    span, i {
      color: $coa-color-white;
      font-size: $coa-font-size-xxsmall;
      font-weight: $coa-font-medium;
    }
    i {
      font-size: 16px;
    }
  }
}

// .coa-SearchBar__search-container {
//   position: relative;
//   top: 0px;
//   right: 0px;
//   text-decoration: none;
//   color: $coa-color-white;
//   background-color: $coa-color-primary;
// }


/*    Mobile SearchIcon    */
.coa-SearchBar__search-container-icon {
  display: none;
  position: absolute;
  right: 0;
  padding-right: $coa-space-level4;
  font-size: $coa-font-size-medium;
  .coa-SearchBar__search-icon {
    color: $coa-color-white;
    padding-top: $coa-space-level1;
    vertical-align: top;
  }
  @include mobile {
    display: block;
  }
}
