.coa-SearchBar__search-container-icon {
  display: none;
  position: absolute;
  right: 0px;
  padding-right: 20px;
  // padding-top: $coa-space-level4;

  @include mobile {
    display: block;
  }

}

.coa-SearchBar__search-button-text.searchIcon {
  line-height: 32px;
}
