//Overrides styles on third party application Recollect
#rCw.coa-Recollect {
  font-family: $coa-font-sans;
  .widget-box {
    border-color: $coa-color-gray;
  }
  .widget-header {
    background: $coa-color-dark-blue;
    #rCw-title {
      font-size: $coa-font-size-xsmall !important;
      font-weight: $coa-font-bold;
      line-height: $coa-line-height-large;
      text-transform: none;
    }
    #recollect-social {
      display: none !important;
    }
    .rChelp.btn-link {
      display: none;
    }
    .rClocale.btn-link .ri-l10n {
      display: none;
    }
  }
  .widget-body {
    .widget-nav {
      display: flex !important;
      justify-content: space-between;
      & > li {
        border: 1px solid transparent;
        flex-basis: 32%;
        margin: 0;
        padding: 10px 0;
        width: auto;
        &:nth-child(3) {
          display: none;
        }
        &.active {
          border-color: $coa-color-gray;
        }
        &:hover {
          background-color: $coa-color-gray-lighter;
        }
        & > a {
          align-items: center;
          background: none;
          border: none;
          border-radius: 0;
          color: $coa-color-primary;
          display: flex;
          height: 100%;
          justify-content: center;
          margin: 0;
          padding: 6px;
          &:hover {
            background: none;
            border: none;
          }
          & > img {
            display: none;
          }
          & > .tab-name {
            line-height: $coa-line-height-xsmall;
            font-size: $coa-font-size-xsmall;
            font-family: $coa-font-sans;
            font-weight: $coa-font-semibold;
            margin: 0 0 0 9px;
            text-transform: uppercase;
          }
        }
      }
    }
    #rCpage-wizard_search,
    #rCpage-calendar_search {
      .page-section {
        padding: 0;
      }
      .page-row-content[data-type='search'] {
        padding: $coa-spacing-medium;

        & > label {
          font-size: $coa-font-size-small;
          font-weight: $coa-font-bold;
          padding: 0 0 $coa-spacing-small;
          text-transform: none;
        }
        & > .rCsearch[data-type='Address'],
        & > .rCsearch[data-type='Material'] {
          > .form-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            input[type='search'] {
              border-radius: 0;
              border: 1px solid $coa-color-purple-darkest;
              flex-basis: 100%;
              font-size: $coa-font-size-small;
              height: auto;
              line-height: $coa-line-height-medium;
              margin: 0 0 $coa-spacing-small;
              padding: 0;

              @include media($coa-small-screen) {
                flex-basis: 70%;
              }
            }
            #rCbtn-search {
              align-items: center;
              background-color: $coa-color-primary;
              border: none;
              border-radius: $coa-button-border-radius;
              color: $coa-color-white;
              display: flex;
              flex-basis: 100%;
              font-size: $coa-font-size-small;
              font-weight: $coa-font-semibold;
              justify-content: center;
              line-height: $coa-line-height-medium;
              margin: 0 0 $coa-spacing-small;
              padding: 0;

              @include media($coa-small-screen) {
                flex-basis: 28%;
              }
            }
            .example {
              flex-basis: 100%;
              order: -1;
              a {
                color: $coa-color-purple-light;
                font-size: $coa-font-size-xsmall;
                font-style: normal;
              }
            } //.example
          } //.form-group
        } //.rCsearch[data-type=Address], .rCsearch[data-type=Material]
      }
    }
  }
  .rC-inside-footer {
    display: none !important;
  }
  .rC-footer .rC-powered {
    line-height: $coa-line-height-xsmall;
    padding: 0;
  }
  .rC-left-link {
    a {
      color: $coa-color-primary;
    }
  }
}
