// .coa-ExternalLink {
//   color: $coa-color-white;
//   &:visited {
//     color: $coa-color-white;
//   }
  // svg {
  //   margin-left: $coa-space-level1;
  //   vertical-align: middle;
  //   path {
  //     fill: $coa-color-white;
  //   }
  // };
// }

.coa-ExternalLink {
  color: $coa-color-decently-black;
  &:visited {
    color: $coa-color-decently-black;
  }
  svg {
    margin-left: $coa-space-level1;
    vertical-align: middle;
    path {
      fill: $coa-color-decently-black;
    }
  };
}

.coa-rtl {
  .coa-ExternalLink {
    svg {
      margin-right: $coa-space-level1;
      margin-left: 0;
    }
  }
}
