.coa-DepartmentPageTopServices {
  background: $coa-color-primary;

  .coa-TileGroup__title {
    color: $coa-color-white;
    @include tablet-and-desktop {
      font-size: $coa-font-size-md-small;
    }
  }

  .coa-TileGroup {
    margin-left: auto;
    margin-right: auto;
  }
}

.coa-DepartmentPage__topServiceButtons {
  display: flex;
  flex-direction: column;
  @include media($coa-medium-screen) {
    flex-direction: row;
  }
}

.coa-DepartmentPage__topServiceButton {
  background: $coa-color-gray-lightest;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 25rem;
  line-height: 2rem;
  padding: 2rem;
  font-size: 1.5rem;
  color: $coa-color-almost-black !important;
  text-decoration: none;
  display: flex;
}

.coa-DepartmentPage__topServiceButtonText {
  line-height: 2rem;
  font-size: 1.5rem;
  width: 18rem;
}

.coa-DepartmentPage__topServiceButtonArrow {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coa-DepartmentPage__directorcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media($coa-medium-screen) {
    text-align: initial;
    flex-direction: row;
  }
}

.coa-DepartmentPage__directorcard-name {
  color: $coa-color-primary;
  font-weight: normal;
  margin-bottom: $coa-spacing-xsmall;
}

.coa-DepartmentPage__directorcard-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: $coa-line-height-small;
}

.coa-DepartmentPage__directorcard-coamaybe {
  font-size: 1.5rem;
  line-height: $coa-line-height-xsmall;
}

.coa-DepartmentPage__directorcard-info {
  margin-bottom: $coa-spacing-medium;

  @include media($coa-medium-screen) {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
}

.coa-DepartmentPage__directorcard-headshot {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $coa-spacing-medium;

  @include media($coa-medium-screen) {
    margin-left: 0;
    margin-right: 0;
  }

  border-radius: 75px;
  overflow: hidden;
  margin-top: 2rem;
  img {
    width: 150px;
    float: left;
    float: right;
  }
}

.coa-DepartmentPage__directorAbout {
  white-space: pre-line;
}

.coa-DepartmentPage__related-container {
  max-width: $coa-wrapper-maxwidth;
  margin-right: auto;
  margin-left: auto;
  padding: $coa-spacing-large 2rem;

  @include media($coa-large-screen) {
    padding-top: $coa-spacing-large;
    padding-bottom: $coa-spacing-large;
  }
}

.coa-TopServicesRelatedContent {
  background: $coa-color-secondary;
  position: relative;

  .coa-TopServices {
    @include media($coa-large-screen) {
      left: 0;
      right: 0;
    }
  }
}

.coa-DepartmentPage__related-title {
  font-size: $coa-font-size-md-small;
  line-height: $coa-line-height-md-small;
  font-weight: $coa-font-medium;
  margin-bottom: $coa-spacing-medium;
}

.coa-DepartmentPage__related-list {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.coa-DepartmentPage__related-list li {
  margin-bottom: 0;
}

.coa-DepartmentPage__related-link {
  text-decoration: none;
}

.coa-TopServices__container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.coa-DepartmentPage__news-date {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #757575;

  @include tablet {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}

.coa-DepartmentPage__news-link {
  font-size: 1.8rem;
  line-height: 2.4rem;
  border-bottom: 1px solid #dfe1e2;
  padding-bottom: 16px;
  margin-bottom: 14px;
  a {
    text-decoration: none;
  }

  @include mobile {
    font-size: 1.6rem;
  }
}

.coa-DepartmentPage__news-more-link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  a {
    text-decoration: none;
  }
  i {
    vertical-align: middle;
    margin-top: -3px;
    height: 24px;
    margin-right: 8px;

    @include mobile {
      height: 20px;
      margin-top: -6px;
    }
  }

  @include mobile {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
  }
}
