.coa-DepartmentPage__topservices--mobile {
  background: $coa-color-primary;
  @include media($coa-medium-screen) {
    display: none;
  }
}

.coa-DepartmentPage__topservices--desktop {
  background: $coa-color-primary;
  display: none;
  margin-bottom: 4rem;
  @include media($coa-medium-screen) {
    margin-top: -4rem;
    display: inherit;
  }
}

.coa-DepartmentPage__topservices-contentcontainer--mobile {
  padding: 2rem;
}

.coa-DepartmentPage__topservices-contentcontainer--desktop {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.coa-DepartmentPage__topservices-header--mobile {
  color: $coa-color-white;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .15rem;
}

.coa-DepartmentPage__topservices-header--desktop {
  color: $coa-color-white;
}

.coa-DepartmentPage__topServiceButtons {
  display: flex;
  flex-direction: column;
  @include media($coa-medium-screen) {
    flex-direction: row;
  }
}

.coa-DepartmentPage__topServiceButton {
    background: $coa-color-gray-lightest;
    margin-top: 2rem;
    margin-right: 2rem;
    flex: auto;
    width: 25rem;
    line-height: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.coa-SectionHeader {
  color: $coa-color-primary;
  border-bottom: 2px solid $coa-color-half-primary;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
}