.coa-EventPage__date-header {
  margin-top: 2rem;
}

.coa-EventPage__cancelled-badge {
  background: #d83933;
  text-transform: uppercase;
  color: white;
  width: fit-content;
  padding: 4px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding-left: 2rem;
  padding-right: 2rem;
  @include mobile {
    margin-bottom: 0.5rem;
  }
}

.coa-EventPage__date {
  display: inline;
  font-size: 1.8rem;
  @include mobile {
    display: block;
  }
  color: #5c5c5c;
}

.coa-EventPage__EventDetailCard {
  background: #f6f6f6;
  // @include mobile {
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;
  // padding-bottom: 1.5rem;
  margin-top: 2rem;
  margin-bottom: $coa-space-level6;
  // }
  @include tablet-and-desktop {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.coa-EventDetailItem {
  display: flex;
  padding-top: $coa-space-level3;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.coa-EventDetailItem__content {
  margin-left: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.coa-EventDetailItem__location {
  line-height: 1.8rem;
}

.coa-EventDetailItem__location-name {
  font-weight: 800;
}

.coa-EventDetailItem__location-link {
  @include location-link(
    '.coa-EventDetailItem__location-link-text',
    '.coa-EventDetailItem__location-link-arrow',
    20px
  );

  font-size: 1.5rem;
  font-weight: 500;

  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.coa-EventDetailItem__location-link-arrow {
  padding-top: 0.25rem;
}

.coa-EventsPage__contacts-desktop {
  width: 350px;
  margin-top: 2rem;

  .material-icons {
    color: #272727;
  }

  .coa-SectionHeader {
    font-size: 1.8rem;
    padding-top: 0;
  }
}
