.coa-EventPage__date-header {
  margin-top: 2rem;
}

.coa-EventPage__cancelled-badge {
  background: red;
  text-transform: uppercase;
  color: white;
  width: fit-content;
  padding: 4px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 600;

  display: inline;
  @include mobile {
    display: block;
  }
}

.coa-EventPage__date {
  display: inline;
  margin-left: 1.5rem;
  @include mobile {
    display: block;
    margin-left: 0;
  }
  color: #5c5c5c;
}

.coa-EventPage__EventDetailCard {
  background: #f6f6f6;
  @include mobile {
    padding: 1.5rem;
    margin-top: 2rem;
  }
}

.coa-EventDetailItem {
  display: flex;
  padding-top: $coa-space-level3;
}

.coa-EventDetailItem__content {
  margin-left: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.coa-EventDetailItem__location {
  line-height: 1.8rem;
}
