.coa-FormPage__iframe-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

// Recommended styling from iframe-resizer docs
.coa-FormPage__IframeResizer-default {
  width: 1px;
  min-width: 100%;
}
