.coa_InformationPage__back-to-dept {
  a {
    line-height: 6rem;
    font-size: 1.7rem;
    color: $coa-color-primary !important;
    text-decoration: none !important;
  }
  span {
    vertical-align: middle;
    padding-left: .5rem;
  }
  text-transform: uppercase;
  color: $coa-color-primary;
  background: $coa-color-gray-lightest;
  border-bottom: 1px solid $coa-color-half-primary;
  @include media($coa-medium-screen) {
    background: $coa-color-white;
  }
}

.coa_InformationPage__arrow {
  vertical-align: middle;
}