.coa-TopicCollectionCards {
  display: flex;
  flex-direction: column;
  margin-bottom: $coa-spacing-xlarge;

  @include media($coa-medium-screen) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .coa-TileGroup__title {
    font-size: $coa-font-size-md-small;
  }
}

.coa-TopicCollectionCard {
  display: flex;

  // IE is having flexbox issues, it still looks OK in block mode with this
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block !important;
  }

  flex-direction: column;
  margin-bottom: $coa-spacing-medium;
  background: $coa-color-grey;
  border-radius: $coa-button-border-radius;

  @include desktop {
    width: calc(33.333% - #{$coa-spacing-medium});
    margin-right: $coa-spacing-medium;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 3px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include tablet {
    width: calc(50% - #{$coa-spacing-medium});
    margin-right: $coa-spacing-medium;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 3px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.coa-TopicCollectionCard__title {
  display: flex;
  align-items: center;
  font-weight: $coa-font-medium;
  margin-bottom: 0;

  a {
    color: $coa-color-almost-black;
    text-decoration: none;
  }

  @include media($coa-large-screen) {
    margin-bottom: $coa-spacing-medium;
  }
}

.coa-TopicCollectionCard__arrow-icon {
  margin-left: $coa-spacing-xsmall;
}

.coa-TopicCollectionCard__add-icon {
  color: $coa-color-primary;
  display: block;
  flex: 1;
  text-align: right;
}

.coa-TopicCollectionCard__description {
  margin-top: 0;
  margin-bottom: $coa-spacing-medium;
}

.coa-TopicCollectionCard__links {
  flex: 1;
  margin-top: $coa-spacing-medium;
  margin-bottom: $coa-spacing-medium;
}

.coa-TopicCollectionCard__item {
  list-style: none;
  margin-left: 0;
  margin-bottom: $coa-spacing-md-small;
}

.coa-TopicCollectionCard__item + .coa-TopicCollectionCard__item {
  display: none;
}

.coa-TopicCollectionCard__link {
  text-decoration: none;
  font-weight: $coa-font-semibold;
  font-size: $coa-font-size-small;
}

.coa-TopicCollectionCard__info-link {
  text-decoration: none;
}

.coa-TopicCollectionCard__learn-more-link {
  text-decoration: none;
  padding-left: $coa-spacing-medium;
  padding-right: $coa-spacing-medium;
  padding-top: $coa-spacing-small;
  border-top: 1px solid $coa-color-gray-light;
  margin-top: auto;
  display: flex;

  color: $coa-color-primary;
  &:visited {
    color: $coa-color-primary;
  }

  p {
    flex-basis: 95%;
    margin-top: 0;
    font-size: $coa-font-size-small;
  }
}
