.coa-PageHeader {
  padding-top: $coa-spacing-xlarge;

  h1 {
    color: $coa-color-dark-blue;
  }
}

.coa-PageHeader__description {
  margin-top: 0;
  margin-bottom: $coa-spacing-small;
  font-size: $coa-font-size-md-small;
  line-height: $coa-line-height-md-small;

  @include media($coa-medium-screen) {
    margin-bottom: $coa-spacing-xlarge;
  }
}
