.coa-PageHeader--news__city-seal-wrapper {
  width: 28.78px;
  height: 28.78px;
  display: inline-block;
}

.coa-PageHeader--news__release-text {
  display: inline;
  font-size: 1.8rem;
  color: #5c5c5c;
  line-height: 2.8rem;
  vertical-align: top;
  margin-left: 0.8rem;
}

.coa-NewsPage__published-date {
  color: #5c5c5c;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.coa-NewsPage__by-line {
  color: #5c5c5c;
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 3rem;
}
