.coa-Menu {
  position: absolute;
  left: -100vw;
  width: 100vw;
  transition: 0.5s;
  top: 0;
  bottom: 0;
  background-color: $coa-color-white;
  z-index: 2;
  @include media($coa-large-screen) {
    position: relative;
    left: auto;
    margin: $coa-space-level6 auto 0;

  }
}

.coa-Menu__list {
  list-style: none;
  @include media($coa-large-screen) {
    padding: auto;
    display: flex;
    justify-content: space-between;
  }
}

.coa-Menu--open {
  left: 0;
  right: 0;
}

.coa-Menu__close-btn {
  background: transparent;
  padding: 0;
  margin: $coa-space-level1;
  width: auto;
  &:hover, &:active {
    background: transparent;
  }
  svg {
    margin: $coa-space-level1 $coa-space-level2;
  }
}

.coa-Menu__mobile-footer {
  padding: $coa-space-level2;
}
.coa-Menu__footer-text {
  padding: $coa-space-level3 0;
  font-size: $coa-font-size-xsmall;
}

.coa-Menu__overlay {
  position: absolute;
  background: green;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
}
