.coa-Menu {
  background-color: $coa-color-white;
  bottom: 0;
  left: -100vw;
  overflow-y: auto;
  position: fixed;
  transition: left 0.5s;
  top: $coa-languageselectbar-height;
  width: 100vw;
  z-index: 2;
  @include media($coa-large-screen) {
    background: none;
    bottom: auto;
    left: auto;
    margin: $coa-space-level5 auto 0;
    overflow-y: visible;
    position: static;
    top: auto;
    width: 100%;
    z-index: auto;
  }
}

.coa-Menu--open {
  left: 0;
  @include media($coa-large-screen) {
    left: auto;
  }
}

.coa-Menu__list {
  list-style: none;
  @include media($coa-large-screen) {
    display: flex;
    justify-content: space-between;
  }
  & > li {
    margin: 0;
    @include media($coa-large-screen) {
      position: relative;
    }
  }
}

.coa-Menu__close-btn {
  background: transparent;
  padding: 0;
  margin: $coa-space-level1;
  width: auto;
  &:hover, &:active {
    background: transparent;
  }
  svg {
    margin: $coa-space-level1 $coa-space-level2;
  }
}

.coa-Menu__mobile-footer {
  padding: $coa-space-level2;
}

.coa-Menu__footer-text {
  padding: $coa-space-level3 0;
  font-size: $coa-font-size-xsmall;
}
