.coa-SubmenuItem {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coa-SubmenuItem__block {
  border-top: 1px solid $coa-color-gray-light;
  color: $coa-color-purple-dark;
  display: block;
  padding: $coa-spacing-small;
  text-decoration: none;
  @include media($coa-large-screen) {
    border-bottom: 1px solid $coa-color-purple-lighter;
    border-top: none;
    padding: $coa-spacing-md-small $coa-spacing-medium;
    width: 400px;
  }
}

.coa-SubmenuItem__block--link,
.coa-SubmenuItem__block--theme {
  font-size: $coa-font-size-small;
  font-weight: $coa-font-regular;
  text-transform: uppercase;
  &:hover {
    background: $coa-color-gray-lighter;
  }
  &:visited {
    color: $coa-color-purple-dark;
  }
  @include media($coa-large-screen) {
    font-weight: $coa-font-semibold;
    font-size: $coa-font-size-xsmall;
  }
}

.coa-SubmenuItem__block--wip {
  border-bottom: none;
  font-family: $coa-font-serif;
  font-size: $coa-font-size-xsmall;
}

.coa-SubmenuItem__block--theme {
  font-weight: $coa-font-bold;
}

.coa-SubmenuItem__arrow-right {
  margin: 0 $coa-spacing-small;
}
