{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    [
      "react-intl-auto", {
        "removePrefix": true,
        "filebase": false,
        "includeExportName": true,
        "extractComments": true
      },
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
