.coa-text-spacer--vertical:after {
  border-left: 1px solid $coa-color-purple-dark;
  content: ' ';
  margin: 0 $coa-spacing-medium;
}

.coa-sr-only {
  @include sr-only();
}

.coa-sr-only-focusable {
  @include sr-only-focusable();
}
