.nowrap {
  white-space: nowrap;
}

.hidden--sm {
// --> display none for small width screens and higher
  display: none;
  @include media($medium-screen) {
    display: inline;
  }
}

.hidden--md {
// --> display none for medium width screens and higher
  display: inline;
  @include media($medium-screen) {
    display: none !important;
  }
}

.visible--sm {
// --> display none by default, display initial for small screens and higher
  display: inline;
}

.visible--md {
// --> display none by default, display initial for medium screens and higher
  display: none;
  @include media($medium-screen) {
    display: inline;
  }
}

.coa-text-spacer--vertical {
  margin: 0 $coa-space-level3;
  &:after {
    content: "|";
  }
}

.coa-link {
  text-decoration: underline;
  color: $color-primary;
  cursor: pointer;
}
