$sticky-guide-top: 25px;
//TODO: what max-width does Chase want on tablet?
$max-guide-tablet-width: $coa-medium-screen;

.coa-GuidePage__header {
}

.coa-GuidePage__header-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 572px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.coa-GuideMenu__link-wrapper {
  &:hover {
    background: #d9e8f6;
    & + .coa-GuideMenu__link-wrapper {
      border-top: none;
      & > div {
        border-top: none;
      }
    }
    @extend .coa-GuideMenu__current-section;
  }

  &:last-child {
    > div.coa-GuideMenu__subheading {
      > span.coa-GuideMenu__title-text {
        border-bottom: none;
      }
    }
  }
}

.coa-GuidePage__header-description-container {
  margin-left: auto;
  margin-right: auto;

  @include tablet-and-desktop {
    max-width: $max-guide-tablet-width;
  }
}

.coa-GuidePage__header-description {
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0px;

  @include tablet-and-desktop {
    padding-bottom: 2rem;
    @include gray-bottom-border;
    margin-bottom: 4rem;
  }
}

.coa-GuidePage__guide-page-placeholder {
  display: block;
  margin: 0 auto;
}

.coa-GuidePage__content-container {
  @extend .coa-Page__all-of-the-content;
  @include tablet {
    max-width: $max-guide-tablet-width;
  }
}

.coa-GuideMenu__desktop-container {
  @extend .col-lg-4;

  // Helps with sticky positioning
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  margin-top: $sticky-guide-top;
  top: 0px;

  // Hide TOC scrollbar in:
  // Webkit eg. Chrome/Safari
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  // Edge/Internet Explorer
  -ms-overflow-style: none;

  // Firefox
  scrollbar-width: none;
}

.coa-GuidePage__main-content {
  @extend .col-xs-12;
  @extend .col-lg-8;

  padding-right: 0; //TODO: again, uswds's default .row class has built in -1rem margins!!
  margin-top: $sticky-guide-top;
}

.coa-GuidePage__content-container {
  .wrapper {
    width: 100%;
  }
}

.coa-GuidePage__content-container > .wrapper > .row {
  margin-right: 0; //TODO: again, uswds's default .row class has built in -1rem margins!!
}

.coa-GuidePage__contact-container {
  margin-left: 0rem;
  margin-right: 0rem;
  border: 2px solid #dddfe1;
}

/**
  TODO: resolve issues with inherited styles
  @extend col-xs-12 is not found by this stylesheet.
  But it can be used inline within js.
  This means that col-xs-12 is coming from some design system that isn't imported with our stylesheets.
  This same design system also modifies col-x-x classes in unhelpful ways.
  For example, col-md-6 has hardcoded left and right padding that was added by this design system.
  We should get rid of uswds or whatever is causing these issues.
**/
.coa-GuidePage__contact-block {
  padding-left: 0px; // overwrite col-x-x padding style from inherited design system
  padding-right: 0px;
  flex-grow: 1;

  @include mobile {
    &:not(:last-child) {
      border-bottom: 2px solid #dddfe1;
    }
  }
  @include tablet-and-desktop {
    &:not(:last-child) {
      border-right: 2px solid #dddfe1;
    }
  }
}

.coa-GuidePage__contact-info {
  display: flex;
  flex-direction: column;

  .coa-ContactItem {
    padding-top: 0px; //Undo styling to help spacing on guide page
  }
}

.coa-GuidePage__contact-item {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;

  &:not(:last-child) {
    border-bottom: 2px solid #dddfe1;
  }
}

.coa-GuidePage__contact-name {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.coa-GuideSection__container {
  margin-top: 4rem;
  border: 2px solid #dddfe1;
  margin-left: 2rem;
  margin-right: 2rem;
  @include media($coa-medium-screen) {
    margin-left: 0px; //TODO: again, uswds's default .row class has built in -1rem margins!!
    margin-right: 0px;
  }
}

.coa-GuideSection__collection {
  margin-bottom: 4rem;
  @include media($coa-medium-screen) {
    margin-bottom: 8rem;
  }
}

.coa-GuideSection__header {
  background: #EDF5FF;
  text-align: center;
  font-weight: 500;

  padding-top: 2rem;
  padding-bottom: 2rem;
  @include tablet-and-desktop {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.coa-GuideSection__content {
  padding: 4rem;

  > p:last-child {
    // Let parent handle padding-bottom for the last nested paragraph
    margin-bottom: 0px;
  }

  h1 {
    font-weight: 500;
  }
}

.coa-GuideSection__page-number {
  color: #868686;
  font-size: 1.6rem;
}

.coa-GuideSection__link {
  border-top: 2px solid #dddfe1;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: $coa-color-primary;
    text-decoration: none;
  }

  i {
    padding-left: 1rem;
    font-size: 1.5rem;
    position: relative;
    top: 3px;
  }
}

.coa-GuideMenu__section {
  border-top: 1.5px solid $coa-color-gray-lighter;
  &:last-child {
    border-bottom: 1.5px solid $coa-color-gray-lighter;
  }
}

.coa-GuideMenu__link {
  display: flex;
  color: $coa-color-cod-gray;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-decoration: none;
  padding-left: $coa-spacing-medium;

  &:visited {
    color: $coa-color-cod-gray;
    text-decoration: none;
  }

  &:hover {
    @extend .coa-GuideMenu__current-section;
  }

  &:before {
    content: 'arrow_forward';
    visibility: hidden;
    font-family: 'Material Icons';
    font-weight: normal;
    color: $coa-color-primary;
    font-size: larger;
    font-feature-settings: 'liga';
    padding-right: $coa-spacing-md-small;
  }
}

.coa-GuideMenu__heading {
  padding-top: $coa-spacing-md-small;
  font-weight: bolder;
}

.coa-GuideMenu__subheading {
  > span.coa-GuideMenu__title-text {
    border-bottom: 1.5px solid $coa-color-gray-lighter;
  }

  margin-left: 2rem;
  padding-left: 0rem;

  padding-top: $coa-spacing-small;
}

.coa-GuideMenu__title-text {
  padding-bottom: 1.5rem;
  width: 100%;
}

.coa-GuideMenu__current-section {
  background-color: #d9e8f6;

  color: $coa-color-cod-gray;
  cursor: pointer;
  &:before {
    visibility: visible;
  }

  &:before {
    visibility: visible;
  }
}

.coa-GuideMenu__mobile-container {
  position: fixed;
  z-index: 1; // Allow GuideMenuMobile to be stacked above footer
  bottom: 0;
  left: 0;
  width: 100%;
}

.coa-GuideMenu__mobile-button {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: $coa-spacing-md-small;
  margin-bottom: $coa-spacing-small;
  margin-right: $coa-spacing-small; // margin-right must be set in child of position: fixed element
  margin-left: $coa-spacing-small;
  border-radius: $coa-button-border-radius;
  border: 2px solid #dddfe1;
  @include tablet {
    max-width: $max-guide-tablet-width;
    margin-right: auto;
    margin-left: auto;
  }

  font-weight: $coa-font-medium;
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  color: $coa-color-white;
  background: $coa-color-primary;

  &:hover {
    cursor: pointer;
  }
}

.coa-GuideMenu__mobile-popup {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 100vh; // Initialize below the screen, only open up onClick
  overflow-y: scroll;

  -webkit-transition: top 0.3s ease-in;
  -moz-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  -ms-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
}

.coa-GuideMenu__mobile-popup-open {
  top: 0px;
}

.coa-GuideMenu__mobile-background {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-color: $coa-color-black;
  height: 0;
}

.coa-GuideMenu__mobile-background--visible {
  height: 100vh;
  display: block;
  opacity: 0.5;
}

.coa-GuideMenu__mobile-padding {
  height: 33vh;
}

.coa-GuideMenu__mobile-content-container {
  border-top: 5px solid $coa-color-primary;
  background-color: $coa-color-white;
  min-height: 67vh;
  padding-bottom: 10rem;
}

.coa-GuideMenu__mobile-content-title {
  text-align: center;
  color: $coa-color-cod-gray;

  h2 {
    padding-bottom: $coa-spacing-md-small;
    padding-top: $coa-spacing-md-small;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1em;
  }
}

.coa-GuideMenu__mobile-content {
  margin-right: 2rem;
  margin-left: 2rem;

  @include tablet {
    max-width: 550px;
    margin: auto;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /*
    This CSS section is for conditional styling for IE 11 only.
  */
  .coa-GuidePage__content-container {
    // IE 11 dosn't play nice with flex-box. Here we can override "display: flex" and preserve flex for all other browsers.
    display: block;
  }
}
