$sticky-guide-top: 25px;

.coa-GuidePageBannerImage {
  object-fit: cover;
  // This is for https://www.npmjs.com/package/object-fit-images
  font-family: 'object-fit: cover;';

  height: 32rem;
  width: 100%;
}

.coa-GuidePage-header--container {
  width: 57rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;

  h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 40px;
  }
}

// Keep in its own class for polyfill's "querySelectorAll('.sticky')" to work
// Must be called after .coa-GuidePage__nav-sidebar in order overwrite .col-x-x position properties
.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.coa-GuidePage__content-container {
  @extend .coa-Page__all-of-the-content;
}

.coa-GuideMenu__desktop-container {
  @extend .col-lg-4;

  // Help with sticky positioning
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  margin-top: $sticky-guide-top;
  top: $sticky-guide-top;
}

.coa-GuidePage__main-content {
  @extend .col-xs-12;
  @extend .col-lg-8;

  margin-top: $sticky-guide-top;

  h1:not(:first-child) {
    margin-top: 4rem;
  }

  h1 {
    background: #ecf1f7;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.coa-GuidePage__contact-block {
  margin-top: 3rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 4rem;
  border: 2px solid #dddfe1;
}

.coa-GuidePage__contact-block-info {
  border-left: 2px solid #dddfe1;
}

.coa-GuidePage__contact-block-email {
  border-top: 2px solid #dddfe1;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.coa-GuidePage__contact-block-phone {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.coa-GuidePage__contact-block-name {
  padding-top: 2rem;
  padding-right: 3rem;
  h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.coa-GuideSectionPage {
  border: 2px solid #dddfe1;
  margin-top: 2rem;
  padding: 4rem;
}

.coa-GuideSectionPage__section-info {
  color: #868686;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.coa-GuideSectionPage__link {
  font-size: 1.8rem;
  border-top: 2px solid #dddfe1;
  text-align: center;
  margin-right: -4rem;
  margin-left: -4rem;
  margin-bottom: -2.8rem;
  padding-top: 1rem;

  a {
    color: $coa-color-primary;
    text-decoration: none;
  }

  i {
    padding-left: 1rem;
    font-size: 1.5rem;
    position: relative;
    top: 3px;
  }
}

.coa-GuideMenu__section {
  border-top: 1.5px solid $coa-color-gray-lighter;
  &:last-child {
    border-bottom: 1.5px solid $coa-color-gray-lighter;
  }
}

.coa-GuideMenu__link {
  color: $coa-color-cod-gray;
  font-size: 1.7rem;
  line-height: 1em;
  text-decoration: none;
  padding-left: $coa-spacing-large;

  &:visited {
    color: $coa-color-cod-gray;
    text-decoration: none;
  }

  &:hover {
    color: $coa-color-cod-gray;
    cursor: pointer;
    @extend .coa-GuideMenu__current-section;
  }
}

.coa-GuideMenu__heading {
  padding-bottom: $coa-spacing-md-small;
  padding-top: $coa-spacing-md-small;
  font-weight: bolder;
}

.coa-GuideMenu__subheading {
  padding-bottom: $coa-spacing-xsmall;
  padding-top: $coa-spacing-xsmall;
  &:last-child {
    padding-bottom: $coa-spacing-md-small;
  }
}

.coa-GuideMenu__current-section {
  background-color: #D9E8F6;

  &:before {
    // Material icon should be in margin on desktop
    // But inline with left on mobile
    @include desktop {
      position: absolute;
    }
    font-family: "Material Icons";
    font-weight: normal;
    content: 'arrow_forward';
    color: $coa-color-primary;
    left: 20px;
    font-size: larger;
  }
}

.coa-GuideMenu__mobile-container {
  position: fixed;
  z-index: 1; // Allow GuideMenuMobile to be stacked above footer
  bottom: 0;
  left: 0;
  width: 100%;
}

.coa-GuideMenu__mobile-button {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: $coa-spacing-md-small;
  margin-bottom: $coa-spacing-medium;
  margin-right: $coa-spacing-medium; // margin-right must be set in child of position: fixed element
  margin-left: $coa-spacing-medium;
  border-radius: $coa-button-border-radius;
  border: 2px solid #dddfe1;

  font-weight: $coa-font-medium;
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  color: $coa-color-white;
  background: $coa-color-primary;

  &:hover {
    cursor: pointer;
  }
}

.coa-GuideMenu__mobile-popup {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 100vh; // Initialize below the screen, only open up onClick
  overflow-y: scroll;

  -webkit-transition: top .3s ease-in;
  -moz-transition: top .3s ease-in;
  -o-transition: top .3s ease-in;
  -ms-transition: top .3s ease-in;
  transition: top .3s ease-in;
}

.coa-GuideMenu__mobile-popup-open {
  top: 0px;
}

.coa-GuideMenu__mobile-background {
  opacity: 0.5;
  background-color: $coa-color-black;
  height: 33vh;
}

// When mobile is open
.frozen-body {
  overflow-y: hidden;
}

.coa-GuideMenu__mobile-content-container {
  border-top: 5px solid $coa-color-primary;
  background-color: $coa-color-white;
  min-height: 67vh;
  padding-bottom: 10rem;
}

.coa-GuideMenu__mobile-content-title {
  text-align: center;
  color: $coa-color-cod-gray;

  h2 {
    padding-bottom: $coa-spacing-md-small;
    padding-top: $coa-spacing-md-small;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1em;
  }
}

.coa-GuideMenu__mobile-content {
  margin-right: 2rem;
  margin-left: 2rem;

  @include tablet {
    max-width: 550px;
    margin: auto;
  }
}
