.coa-ContactDetails {
  border-left: none;
  border-right: none;
  padding-bottom: $coa-spacing-large;
}

.coa-ContactItem {
  // border-bottom: 1px dashed $coa-color-purple-dark;
  display: flex;
  align-items: flex-start;
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  padding-top: $coa-spacing-medium;
  text-align: left;

  @include media($coa-medium-screen) {
    // font-size: $coa-font-size-small;
    // line-height: $coa-line-height-small;
    // padding: $coa-spacing-medium 0;
  }

  @include media($coa-large-screen) {
    // font-size: $coa-font-size-md-small;
    // line-height: $coa-line-height-md-small;
  }

  & > :first-child {
    margin-right: $coa-spacing-large;
    // margin-top: $coa-spacing-xsmall;
  }

  & > :last-child {
    // flex: 1 0 auto;
    & > span {
      display: block;
    }
  }

  &:last-child {
    border: none;
  }

  .material-icons {
    color: $coa-color-primary;
    // vertical-align: middle;
  }

  .coa-ExternalLink {
    color: $coa-color-primary;

    &:visited {
      color: $coa-color-primary;
    }

    svg {
      path {
        fill: $coa-color-primary;
      }
    }
  }
}

.coa-ContactItem__svg {
  svg {
    height: $coa-font-size-medium;
    width: $coa-font-size-medium;

    path {
      fill: $coa-color-primary;
    }
    // @include media($coa-medium-screen) {
    //   height: $coa-font-size-small - .1rem;
    //   width: $coa-font-size-small - .1rem;
    // }

    // @include media($coa-large-screen) {
    //   height: $coa-font-size-md-small - .1rem;
    //   width: $coa-font-size-md-small - .1rem;
    // }
  }
}

.coa-rtl {
  .coa-ContactItem {
    & > :first-child {
      margin-right: 0;
      margin-left: $coa-spacing-large;
    }
    text-align: right;
  }
}

.coa-ContactHours {
  th {
    text-transform: capitalize;
  }
  td:last-of-type {
    text-align: right;
  }
}
.coa-rtl {
  .coa-ContactHours {
    td:last-of-type {
      text-align: left;
    }
  }
}
