.coa-DepartmentPage__contacts-desktop {
  width: 315px;
}

.coa-ContactDetails {
  border-left: none;
  border-right: none;
  padding-bottom: $coa-spacing-large;
}

/*
Assumes that there are 2 children for each .coa-ContactItem.
This will enable proper line wrapping for the :last-child.
*/
.coa-ContactItem {
  // border-bottom: 1px dashed $coa-color-purple-dark;
  display: flex;
  align-items: flex-start;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-small;
  padding-top: $coa-spacing-medium;
  text-align: left;

  @include media($coa-medium-screen) {
    // font-size: $coa-font-size-small;
    // line-height: $coa-line-height-small;
    // padding: $coa-spacing-medium 0;
  }

  @include media($coa-large-screen) {
    // font-size: $coa-font-size-md-small;
    // line-height: $coa-line-height-md-small;
  }

  & > :first-child {
    margin-right: $coa-spacing-small;
    // margin-top: $coa-spacing-xsmall;
  }

  & > :last-child {
    flex: 1; /* allows line wrap for long contact values. */
    & > span {
      display: block;
    }
  }

  &:last-child {
    border: none;
  }

  .material-icons {
    color: $coa-color-primary;
    // vertical-align: middle;
  }

  .coa-ExternalLink {
    color: $coa-color-primary;

    &:visited {
      color: $coa-color-primary;
    }

    svg {
      path {
        fill: $coa-color-primary;
      }
    }
  }
}

.coa-ContactItem__svg {
  svg {
    height: $coa-font-size-medium;
    width: $coa-font-size-medium;

    path {
      fill: $coa-color-primary;
    }
    // @include media($coa-medium-screen) {
    //   height: $coa-font-size-small - .1rem;
    //   width: $coa-font-size-small - .1rem;
    // }

    // @include media($coa-large-screen) {
    //   height: $coa-font-size-md-small - .1rem;
    //   width: $coa-font-size-md-small - .1rem;
    // }
  }
}

.coa-rtl {
  .coa-ContactItem {
    & > :first-child {
      margin-right: 0;
      margin-left: $coa-spacing-large;
    }
    text-align: right;
  }
}

.coa-ContactHours {
  th {
    font-size: $coa-font-size-xsmall;
    padding-right: 0 !important;
    text-transform: capitalize;
    /* ".usa-table-borderless th:first-child" uses 6rem, which is too much */
    padding-right: 1rem !important;
    font-weight: bold;
  }
  td:last-of-type {
    font-size: $coa-font-size-xsmall;
    text-align: right;
  }
}
.coa-rtl {
  .coa-ContactHours {
    td:last-of-type {
      text-align: left;
    }
  }
}

.coa-ContactItem_content {
  /* Flexbox hack to allow long content to wrap to next line */
  min-width: 1%;
  /* Yes, you need both. "word-break" fixes mobile styling */
  word-wrap: break-word;
  word-break: break-word;
}
