@import 'src/css/base/mixins';
@import 'src/css/base/variables';
@import 'src/components/PageBanner/PageBanner';

.coa-LocationPage__content-container {
  flex-direction: column;
  max-width: 758px;
}

.coa-LocationPage__header {
  background-color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include tablet {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  margin-bottom: 3rem;
  @include desktop {
    margin-bottom: 5rem;
  }
  @include mobile {
    margin-bottom: 1.5rem;
  }
}

.coa-LocationPage__header-icon {
  color: #0049c7;
  font-size: 4rem;
}

.coa-LocationPage__header-title {
  font-size: 4rem;

  @include mobile {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}

$coa-location-page-section-background: #ffffff;

.coa-LocationPage__section {
  background-color: $coa-location-page-section-background;

  @include desktop {
    padding: 8rem;
  }
  @include tablet {
    padding: 6rem;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mobile {
    padding: 2rem;
  }

  margin-bottom: 3rem;
  @include mobile {
    margin-bottom: 1.5rem;
  }
}

.coa-LocationPage__sub-section {
  &:not(:last-child) {
    padding-bottom: 3rem;
    @include mobile {
      padding-bottom: 2rem;
    }
    @include gray-bottom-border;
  }
  &:not(:first-child) {
    padding-top: 3rem;
    @include mobile {
      padding-top: 2rem;
    }
  }
}

.coa-LocationPage__sub-section-block-container {
  display: flex;

  flex-direction: row;
  @include mobile {
    flex-direction: column;
  }
}

.coa-LocationPage__sub-section-block-container__hours {
  flex-direction: column;
}

.coa-LocationPage__sub-section-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;

  @include mobile {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.coa-LocationPage__sub-section-block {
  flex-grow: 1;
  font-size: 1.8rem;
  line-height: 2.4rem;
  flex-wrap: wrap;
  width: 100%;

  &:not(:last-child) {
    @include mobile {
      margin-bottom: 1.6rem;
    }
  }
}

.coa-LocationPage__sub-section-block__hours-exceptions {
  margin-top: 1.5rem;
}

.coa-LocationPage__sub-section-block__hours-exceptions-contents {
  // Don't use <p> styling for nested RichTextBlock
  p {
    all: unset;
  }
}

.coa-LocationPage__sub-section-block-title {
  font-weight: bolder;
}

.coa-LocationPage__sub-section-block-title-padded {
  font-weight: bolder;
  padding-bottom: 1.5rem;
}

.coa-LocationPage__address-line {
  display: block;
}

.coa-LocationPage__location-image {
  @extend .coa-PageBanner__image;
  padding-top: 2rem;
}

.coa-LocationPage__facility-hours-container {
  margin: 1rem 0 0 0;
}

.coa-LocationPage__table {
  margin: 0;

  td {
    background-color: inherit;
    border: none;
    font-weight: inherit;
    padding: 0 1rem 0 0;
    font-size: 1.7rem;
    line-height: 2.4rem;
    vertical-align: top;
    padding-bottom: 0.5rem;

    // &:not(:last-child) {
    //   padding-top: .5rem;
    // }
  }
}

.coa-LocationPage__hours-section {
  display: inline-block;
}

.coa-LocationPage__service-container {
  background-color: #ffffff;
  margin-top: 2rem;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 4px;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border: 1px solid #dcdee0;
}

.coa-LocationPage__service-title {
  font-weight: bolder;
  padding: 2rem;
  @include mobile {
    padding: 0.8rem;
  }
  border-bottom: 1px solid #dddfe1;
}

.coa-LocationPage__service-info-container {
  padding: 2rem;
  @include mobile {
    padding: 0.8rem;
  }
}

.coa-LocationPage__service-phone-container {
  &:not(:last-child) {
    border-bottom: 1px solid #dddfe1;
    padding-bottom: 2rem;
  }
}

.coa-LocationPage__table-service-label {
  min-width: 11rem;
  @include mobile {
    min-width: 10rem;
  }
}

.coa-LocationPage__service-hours-menu {
  color: $coa-color-primary;
  padding-top: 0.5rem;
  background-color: #f6f6f6;
  padding: 0.8rem;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.coa-LocationPage__service-link {
  padding: 2rem;
  @include mobile {
    padding: 0.8rem;
  }
  border-top: 1px solid #dddfe1;
  color: $coa-color-primary;

  &:hover {
    cursor: pointer;
    background-color: $coa-color-primary;
    color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

// Kinda hacky but gets rid of underline on
// "service information" links
.coa-LocationPage__service-link-link {
  text-decoration: none;
}

%coa-LocationPage__material-icon {
  font-family: 'Material Icons';
  font-style: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.coa-LocationPage__service-hour-arrow {
  @extend %coa-LocationPage__material-icon;

  font-size: 2.4rem;
  float: right;
}

.coa-LocationPage__additional-service-hours {
  display: none;
}

.coa-LocationPage__additional-service-hours-expanded {
  display: inherit;
  padding-bottom: 12px;
}

.coa-LocationPage__service-link-arrow {
  @extend %coa-LocationPage__material-icon;

  font-size: 2.4rem;
  float: right;
}

.coa-LocationPage__bus-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.coa-LocationPage__bus {
  background-color: $coa-color-mariner-blue;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-weight: bold;
  margin-right: 1rem;
  border-radius: 4px;
}

.coa-LocationPage__related-events-container {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
  margin-top: 2rem;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 4px;
  font-size: 1.7rem;
  line-height: 2.4rem;
  @include media($coa-medium-screen) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.coa-LocationPage__container {
  background-color: #f3f3f3;
}

.coa-LocationPage__service-hours-container {
  padding-top: 16px;
}
