.coa-MenuItem {
  cursor: pointer;
  border-bottom: 1px solid $coa-color-gray;
  font-size: $coa-font-size-small;
  font-family: $coa-font-sans;
  line-height: $coa-line-height-small;
  padding: $coa-space-level2 $coa-space-level3;
  text-transform: uppercase;
  @include media($coa-large-screen) {
    border: 1px solid transparent;
    border-bottom: none;
  }
  svg {
    height: $coa-font-size-small - .1rem;
    width: $coa-font-size-small - .1rem;
    margin-left: $coa-spacing-xsmall;
    transition-duration: .3s;
    vertical-align: middle;
    @include media($coa-large-screen) {
      vertical-align: baseline;
    }
  }
}

.coa-rtl {
  .coa-MenuItem {
    svg {
      margin-left: 0;
      margin-right: $coa-spacing-xsmall;
    }
  }
}

.coa-MenuItem--open {
  border-bottom: 1px solid transparent;
  @include media($coa-large-screen) {
    background: $coa-color-white;
    border: 1px solid $color-gray-medium;
    border-bottom: none;
    position: relative;
    z-index: 1;
  }
  svg {
    transform: rotate(-180deg);
    path {
      fill: $coa-color-almost-black;
    }
  }
}

.coa-MenuItem--small {
  font-size: $coa-font-size-xsmall;
  white-space: nowrap;
  svg {
    height: $coa-font-size-xsmall - .1rem; //based on parent element font-size
    width: $coa-font-size-xsmall - .1rem; //based on parent element font-size
  }
}

.coa-MenuItem--home {
  & > a {
    color: $coa-color-almost-black;
    text-decoration: none;
  }
}

.coa-MenuItem--flex {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  @include media($coa-large-screen) {
    height: 100%;
    padding: $coa-space-level4 $coa-space-level2 $coa-space-level3;
  }
}

.coa-MenuItem__text {
  @include media($coa-large-screen) {
    border-bottom: 3px solid transparent;
    font-weight: $coa-font-bold;
    margin-bottom: 0;
    text-align: center;
  }
}

.coa-MenuItem:hover {
  .coa-MenuItem__text {
    @include media($coa-large-screen) {
      border-bottom: 3px solid $coa-color-white;
    }
  }
}

.coa-MenuItem--open {
  .coa-MenuItem__text {
    color: $coa-color-almost-black;
    @include media($coa-large-screen) {
      border-bottom: 3px solid transparent;
    }
  }
}
