.coa-ImageGallery__container {
  max-width: 1200px;
  text-align: center;
  h2 {
    margin: auto;
    max-width: 720px;
  }
  p {
    margin: auto;
    max-width: 720px;
    margin-bottom: 2.5rem;
  }
}

.coa-ImageGallery__images {
  display: flex;
  flex: auto;
  max-width: 1000px;
  justify-content: space-evenly;
  margin: auto;
  @media (max-width: $coa-large-screen) {
    max-width: 720px;
  }
  @media (max-width: $coa-small-screen) {
    flex-direction: column;
  }
}

.coa-ImageGallery__imageitem {
  width: 303px;
  text-align: center;
  line-height: 0;
  border: solid 2px #f4f4f4;
  img {
    height: 238px;
    object-fit: cover;
    width: 100%;
  }
  @media (max-width: $coa-small-screen) {
    width: 100%;
    max-width: 303px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.coa-ImageGallery__imageitem--hidden {
  display: none;
}

.coa-ImageGallery__imageitem-description {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #f4f4f4;
  p {
    font-family: 'Open Sans';
    color: #240b33;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.coa-ImageGallery__scroller-nav {
  font-size: 4rem;
  line-height: 326px;
  width: 25px;
}

.coa-ImageGallery__scroller {
  display: flex;
}
