// vendor

@import 'coa_variables';
@import 'uswds_variables';
@import 'node_modules/uswds/src/stylesheets/uswds';
@import 'flexboxgrid_variables';
@import 'node_modules/flexboxgrid-sass/flexboxgrid';
@import 'css/vendor/font_awesome/scss/font-awesome.scss';

// base
html {
  font-family: $font-sans;
  font-size: $em-base;
  font-weight: $font-normal;
  line-height: $base-line-height;
}

// uswds overrides
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  font-weight: $font-medium;
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  > li > p {
    margin: 0;
    display: inline;
  }
  ol, ul {
    margin-left: $coa-space-level4;
  }
}

.usa-table-borderless {
  margin: 0;
  padding: 0;

  td, th {
    border: none;
    margin: 0;
    padding: 0;
  }

  th:first-child {
    padding-right: $coa-space-level2;
  }
}

//helpers
.nowrap {
  white-space: nowrap;
}

// components

.coa-content {
  span,
  p,
  table,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $coa-textwrap-width;
  }
}

// coa content link
.coa-list_link {
  @include box_verticalcenter();
  background-color: $color-white;
  border-bottom: 1px dashed $color-gray-dark;
  color: $color-black;
  font-size: $base-font-size;
  text-decoration: none;
  padding: $coa-space-level4 0;

  i {
    padding-left: $coa-space-level2;;
  }
}

.coa-list_link--box {
  border: 1px solid $color-gray-lighter;
  font-size: $lead-font-size;
  margin-bottom: $coa-space-level2;
  height: 100px;
  padding: 0 $coa-space-level2;
}

.coa-overlay {
  align-items: center;
  background-color: $color-white;
  display: flex;
  left: 50%;
  height: 50vh;
  margin-left: -40vw;
  margin-top: -25vh;
  outline: 9999px solid rgba(0,0,0,0.5);
  padding: $coa-space-level5;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 80vw;
  z-index: 10;
}

.coa-overlay__content {
  width: 100%;
}

.coa-steps {
  li {
    margin-bottom: $coa-space-level3;
  }
}

// form controls
.coa-form_field__helpertext_main {

}
.coa-form_field__helpertext_sub {
  text-align: right;
}


// coa section
.coa-section {
  margin-bottom: $coa-space-level6;
  margin-left: $coa-space-level3;
  margin-right: $coa-space-level3;
  margin-top: $coa-space-level5;
}

.coa-section--grey {
  background-color: $color-gray-lighter;
  margin: 0;
  padding-bottom: $coa-space-level6;
  padding-left: $coa-space-level3;
  padding-right: $coa-space-level3;
  padding-top: $coa-space-level5;
}

.coa-section--lightgrey {
  @extend .coa-section--grey;
  background-color: $color-gray-lightest;
}

.coa-section__title {
  border-bottom: 5px solid $color-black;
  margin-bottom: $coa-space-level2;
  padding-bottom: $coa-space-level2;
}

.coa-section__map {
 margin-bottom: $coa-space-level2;
 & > a, span {
  display: block;
 }
}

.coa-section__link {
  display: inline-block;
  margin-top: $coa-space-level5;
}


// WYSIWYG editor content
.coa-section > h4 {
  margin-bottom: $coa-space-level2;
  margin-top: $coa-space-level5;

  &:first-child {
    margin-top: 0;
  }
}

.coa-section > p {
  margin: 0;
  margin-bottom: $coa-space-level4;

  &:last-child {
    margin-bottom: 0;
  }
}

.coa-section > ul {
  margin-bottom: $coa-space-level4;

  & > li {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.coa-section > ol {
  margin-bottom: $coa-space-level4;

  & > li {
    margin-bottom: $coa-space-level2;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// coa page layout
.coa-page_breadcrumb {
  display: block;
  margin-bottom: $coa-space-level2;
}
.coa-page_title {
  margin-bottom: $coa-space-level5;
  font-weight: $font-bold;
}
.coa-page_hero {
  @include box_verticalcenter(200px);
  background-color: $color-gray-lighter;
  margin-bottom: $coa-space-level4;
  padding: $coa-space-level3;
}

.coa-page_hero--small {
  @extend .coa-page_hero;
  height: 80px;
}

.coa-page_hero__callout {
  h2 {
    font-weight: $font-bold;
    margin: 0;
  }
}
.coa-page_body {
  margin: 0 $coa-space-level3;
}
