// vendor
@import 'uswds_variables';
@import 'node_modules/uswds/src/stylesheets/uswds';
@import 'css/vendor/font_awesome/scss/font-awesome.scss';

// base
html {
  font-family: $font-sans;
  font-size: $em-base;
  font-weight: $font-normal;
  line-height: $base-line-height;
}

//helpers
.nowrap {
  white-space: nowrap;
}

// variables
$space-level1: 5px;
$space-level2: 10px;
$space-level3: 15px;
$space-level4: 20px;
$space-level5: 40px;
$space-level6: 60px;

@mixin box_verticalcenter($height: auto) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: space-between;
}

// uswds overrides
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-medium;
}

// components

// coa content link
.coa-content_link {
  @include box_verticalcenter();
  border-bottom: 1px dashed $color-gray-dark;
  color: $color-black;
  cursor: pointer;
  font-size: $base-font-size;
  text-decoration: none;
  padding: $space-level4 0;

  i {
    padding-left: $space-level2;;
  }
}

.coa-content_link--box {
  border: 1px solid $color-gray-lighter;
  font-size: $lead-font-size;
  margin-bottom: $space-level2;
  height: 100px;
  padding: 0 $space-level2;
}

// coa section
.coa-section {
  padding-bottom: $space-level6;
  padding-left: $space-level3;
  padding-right: $space-level3;
  padding-top: $space-level5;
}

.coa-section--tbonly {
  padding-left: 0;
  padding-right: 0;
}

.coa-section--grey {
  background-color: $color-gray-lightest;
}

.coa-section__title {
  border-bottom: 5px solid $color-black;
  padding-bottom: $space-level2;
  margin: 0 0 $space-level2 0;
}


// coa page layout
.coa-hero {
  margin-bottom: $space-level4;
  padding: $space-level3;
}
.coa-body {
  padding: 0 $space-level3;
}

