// vendor

@import 'coa_variables';
@import 'uswds_variables';
@import 'node_modules/uswds/src/stylesheets/uswds';
@import 'flexboxgrid_variables';
@import 'node_modules/flexboxgrid-sass/flexboxgrid';
@import 'css/vendor/font_awesome/scss/font-awesome.scss';

// component scss Manifest
@import "css/components/I18nBanner.scss";
@import "css/components/Header.scss";
@import "css/components/Footer.scss";

// base
html {
  font-family: $font-sans;
  font-size: $em-base;
  font-weight: $font-normal;
  line-height: $base-line-height;
}

// uswds overrides
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  font-weight: $font-medium;
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.usa-table-borderless {
  margin: 0;
  padding: 0;

  td, th {
    border: none;
    margin: 0;
    padding: 0;
  }

  th:first-child {
    padding-right: $coa-space-level2;
  }
}

.usa-input-error {
  margin-top: 1rem;
  margin-bottom: 1rem;

  label {
    width: calc(100% + 1.9rem); // 1.5rem left padding + 4px border from input error spacing
  }
}

.usa-input-error-message {
  margin-bottom: $coa-space-level2;
}

//helpers
.nowrap {
  white-space: nowrap;
}

// components

// coa content link
.coa-list_link {
  @include box_verticalcenter();
  background-color: $color-white;
  border-bottom: 1px dashed $color-gray-dark;
  color: $color-black;
  font-size: $base-font-size;
  text-decoration: none;
  padding: $coa-space-level4 0;

  i {
    padding-left: $coa-space-level2;;
  }
}

.coa-list_link--box {
  border: 1px solid $color-gray-lighter;
  font-size: $lead-font-size;
  margin-bottom: $coa-space-level2;
  height: 100px;
  padding: 0 $coa-space-level2;
}

.coa-overlay {
  align-items: center;
  background-color: $color-white;
  display: flex;
  left: 50%;
  height: 50vh;
  margin-left: -40vw;
  margin-top: -25vh;
  outline: 9999px solid rgba(0,0,0,0.5);
  padding: $coa-space-level7;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 80vw;
  z-index: 10;
}

.coa-overlay__content {
  margin: 0 auto;
  width: 100%;
}

// form controls

label, textarea, input, select {
  max-width: none;
}

label {
  margin-top: $coa-space-level4;

  span {
    color: $color-gray-medium;
    display: block;
    font-size: $small-font-size;
    font-style: italic;
    text-align: right;
  }
}

.coa-form_actions {

  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $coa-space-level4;

  & > input, a, button {

    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.coa-form_actions__link {
  cursor: pointer;
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
}

// coa section
.coa-section {
  margin-bottom: $coa-space-level8;
  margin-left: $coa-space-level5;
  margin-right: $coa-space-level5;
  margin-top: $coa-space-level7;
}

.coa-section--grey {
  background-color: $color-gray-lighter;
  margin: 0;
  padding-bottom: $coa-space-level8;
  padding-left: $coa-space-level5;
  padding-right: $coa-space-level5;
  padding-top: $coa-space-level7;
}

.coa-section--lightgrey {
  @extend .coa-section--grey;
  background-color: $color-gray-lightest;
}

.coa-section__title {
  border-bottom: 5px solid $color-black;
  margin-bottom: $coa-space-level2;
  padding-bottom: $coa-space-level2;

  & > h3 {
    @include media($coa-medium-screen) {
      font-size: $h2-font-size;
      font-weight: $font-bold;
    }
  }
}

.coa-section__title--noborder {
  @include media($coa-medium-screen) {
    font-size: $h2-font-size;
    font-weight: $font-bold;
  }
}

.coa-section__map {
 margin-bottom: $coa-space-level2;
 & > a, span {
  display: block;
 }
}

.coa-section__link {
  display: inline-block;
  margin-top: $coa-space-level7;
}


// steps & APP & WYSIWYG editor content

.coa-steps > ol > li {
  margin-bottom: $coa-space-level3;
}

.coa-steps, .coa-content_items {
  & > .coa-section > h1, h2 {
    font-size: $h4-font-size;
    margin-bottom: $coa-space-level2;
    margin-top: $coa-space-level7;

    &:first-child {
      margin-top: 0;
    }

    @include media($coa-medium-screen) {
      font-size: $h2-font-size;
      font-weight: $font-bold;
    }
  }

  & > .coa-section > p {
    margin: 0;
    margin-bottom: $coa-space-level4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > .coa-section > ul, ol {

    margin-bottom: $coa-space-level4;

    > li > p {
      margin: 0;
      display: inline;
    }

    ol, ul {
      margin-left: $coa-space-level4;
      list-style-type: disc;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > .coa-section > ul > li {
    margin-bottom: 0;
  }

  & > .coa-section > ol > li {
    margin-bottom: $coa-space-level2;
  }
}


// coa page layout
.coa-page_breadcrumb {
  display: block;
  margin-bottom: $coa-space-level2;
}
.coa-page_title {
  margin-bottom: $coa-space-level7;
  font-weight: $font-bold;

  @include media($coa-medium-screen) {
    font-size: $h1-font-size;
  }
}
.coa-page_hero {
  @include box_verticalcenter(200px);
  background-color: $color-gray-lighter;
  margin-bottom: $coa-space-level4;
  padding: $coa-space-level3;
}

.coa-page_hero--small {
  @extend .coa-page_hero;
  height: 80px;
}

.coa-page_hero__callout {
  h2 {
    font-weight: $font-bold;
    margin: 0;
  }
}
.coa-page_body {
  margin: 0 $coa-space-level3;
}

.coa-page_content {
  .coa-overlay__content,
  span,
  p,
  table,
  form,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $coa-textwrap-width;
  }
}
