$loader-dotsize: 6px; /* Specifies the size WxH of each dot in the sending animation */

.coa-UserFeedback {
  p {
    padding: 10px;
    margin: 0;
  }
}

.coa-UserFeedback__thankYou--check {
  padding: 10px;
  margin: 0;
  @media screen and (min-width: 768px) {
      padding: 20px;
  }
}

.coa-UserFeedback__form {
  background: #f7f7f7;
  border-top: 1px solid #cccccc;
  text-align: center;
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
}

.coa-UserFeedback__prompt {
  .material-icons {
    color: $coa-color-primary;
  }
}

input[type='button'] {
  &.coa-UserFeedback__button {
    display: inline-block;
    height: 48px;
    width: 130px;
    padding: 0 !important;
    margin: 0 0 0 1rem;
    font-size: 14px;
    top: -2px;
    background-color: #fff;
    color: #0049c7;
    box-shadow: 0px 3px 6px #00000014;
    border: 1px solid #c6cace;
    &:hover {
      background-color: #d9e8f6;
    }
  }
}

input[type='button'] {
  &.coa-UserFeedback__button-selected {
    display: inline-block;
    height: 48px;
    width: 130px;
    padding: 0 !important;
    margin: 0 0 0 1rem;
    font-size: 14px;
    top: -2px;
    color: #fff;
    background-color: #1a4480;
    box-shadow: 0px;
  }
}

input[type='button'] {
  &.coa-UserFeedback__button-dimmed {
    display: inline-block;
    height: 48px;
    width: 130px;
    padding: 0 !important;
    margin: 0 0 0 1rem;
    font-size: 14px;
    box-shadow: 0px 3px 6px #00000014;
    border: 1px solid #c6cace;
    border-radius: 4px;
    top: -2px;
    color: #0049c7;
    background: #f0f0f0 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

button {
  &.coa-UserFeedback__button-submit {
    display: inline-block;
    height: 48px;
    width: 278px;
    padding: 0 !important;
    margin: 0;
    font-size: 14px;
    position: relative;
    color: #fff;
    background: #0050d8;
    text-align: center;
    border: 1px solid #2f54f2;
    @media screen and (min-width: 768px) {
      width: 180px;
    }
  }
}

button {
  &.coa-UserFeedback__button-sending {
    display: inline-block;
    height: 48px;
    width: 180px;
    padding: 0 !important;
    margin: 0;
    font-size: 14px;
    position: relative;
    background-color: #2f4668;
    color: #fff;
    text-align: center;
  }
}

button {
  &.coa-UserFeedback__button-check {
    background-color: #00a91c;
    display: inline-block;
    height: 48px;
    width: 180px;
    padding: 0 !important;
  }
}

/* sending button 3 dot animation*/
.coa-UserFeedback__button-loading {
  position: relative;
  display: inline-block;
  width: $loader-dotsize;
  height: $loader-dotsize;
  border-radius: 50%;
  margin: -($loader-dotsize * 2) ($loader-dotsize * 2) ($loader-dotsize * 2);
  animation-fill-mode: both;
  animation: coa-UserFeedback__button-loading--animation 1s infinite ease-in-out;
  animation-delay: -0.16s;
  color: #fff;
}

.coa-UserFeedback__button-loading:before,
.coa-UserFeedback__button-loading:after {
  content: '';
  position: absolute;
  width: $loader-dotsize;
  height: $loader-dotsize;
  top: 0;
  animation: coa-UserFeedback__button-loading--animation 1s infinite ease-in-out;
  border-radius: 50%;
}
.coa-UserFeedback__button-loading:before {
  left: -($loader-dotsize * 2);
  animation-delay: -0.32s;
}
.coa-UserFeedback__button-loading:after {
  left: ($loader-dotsize * 2);
}

/*
  Confirmation page submit button, loading three dots animation
*/
@keyframes coa-UserFeedback__button-loading--animation {
  0%,
  80%,
  100% {
    box-shadow: 0 10px 0 -6px;
  }
  40% {
    box-shadow: 0 10px 0 0;
  }
}

.coa-UserFeedback__elaborate {
  margin: 0;
}

.coa-UserFeedback-hr {
  @media screen and (min-width: 768px) {
    width: 569px;
    margin-top: 30px;
  }
  border: 0;
  border-top: 1px #dbdbdb solid;
  margin-top: 20px;
  margin-bottom: 0;
}

.coa-UserFeedback__textarea-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 40%;
    padding-bottom: 30px;
  }
}

.coa-UserFeedback__textarea {
  margin: 0 auto;
}

textarea#userfeedback-textarea {
  border-width: 0.1rem 0.1rem 0 0.1rem;
  border-color: #a9aeb1;
  border-style: solid;
  resize: none;
}

.coa-UserFeedback__charlimit {
  background-color: #fff;
  border-top: 0.1rem solid #dcdee0;
  border-left: 0.1rem solid #a9aeb1;
  border-right: 0.1rem solid #a9aeb1;
  border-bottom: 0.1rem solid #a9aeb1;
  color: #adadad;
  font-size: 1.2rem;
  text-align: right;
  padding-right: 1rem;
}

.coa-UserFeedback__textarea-dimmed {
  color: #adadad;
  border-width: 0.1rem 0.1rem 0 0.1rem;
  border-color: #a9aeb1;
  border-style: solid;
}

.coa-UserFeedback__thankYou {
  background: $coa-color-grey;
  text-align: center;
  padding: $coa-spacing-medium;
}

.coa-UserFeedback__check {
  background-color: #00a91c;
  color: #fff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  text-align: center;
  margin: 0 auto;
}

.coa-UserFeedback__error {
  background: $coa-color-grey;
  text-align: center;
  padding: 20px 16px;
  border-top: 1px #dbdbdb solid;
}

.coa-UserFeedback__error {
  span {
    color: #d63e04;
  }
  p {
    padding: 16px 0 0 0;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 400px;
    }
  }
}
