.coa-UserFeedback {
  border: 2px solid $coa-color-orange;
  margin: $coa-spacing-xlarge auto;
  padding: $coa-spacing-large $coa-spacing-medium;
}

.coa-UserFeedback__form {
  background: $coa-color-grey;
  text-align: center;
  padding: $coa-spacing-medium;
}

.coa-UserFeedback__button {
  display: inline-block;
  height: 4.2rem;
  max-height: 4.2rem;
  width: 8rem;
  padding: 0 !important;
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
  position: relative;
  top: -2px;
  background-color: #fff;
  color: #0049c7;
  box-shadow: 0px 3px 6px #00000014;
  border: #C6CACE;
  &:hover {
    color: #fff;
    background-color: #D9E8F6;
  }
}

.coa-UserFeedback__button-selected {
  color: #fff;
  background-color: #2F4668;
  box-shadow: 0px;
}

.coa-UserFeedback__textarea-container {
  border-top: 1px solid $coa-color-orange;
}

.coa-UserFeedback__textarea {
  width: 40%;
  margin: 0 auto;
}

.coa-FormFeedback {
  border: 2px solid $coa-color-orange;
  border-left: none;
  border-right: none;
  margin: $coa-spacing-xlarge auto;
  padding: $coa-spacing-large $coa-spacing-medium;
  .coa-SectionHeader--isSerif {
    margin-top: 0;
  }
}

.coa-FormFeedback__content {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 12.4rem;

  input {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.coa-FormFeedback__emoji {
  margin: 0 $coa-spacing-small;
  width: 35px;

  @include media($coa-small-screen) {
    margin: 0 $coa-spacing-md-small;
    width: 55px;
  }
  @include media($coa-medium-screen) {
    margin: 0 $coa-spacing-medium;
    width: 65px;
  }

  label {
    &:before {
      display: none;
    }
  }
}


.coa-FormFeedback__step2 {
  .coa-FormFeedback__content {
    flex-direction: column;
  }
  textarea {
    font-size: $coa-font-size-small;
    margin-bottom: $coa-spacing-medium;
  }
}

.coa-FormFeedback__step3 {
  .coa-FormFeedback__content {
    flex-direction: column;
  }
}

.coa-FormFeedback__error {
  color: $coa-color-orange;
}
