.coa-FooterContainer {
  background: $coa-color-grey;
  padding: $coa-spacing-xlarge 0;
}

.coa-Footer {
  @include media($coa-medium-screen) {
    margin-top: 2rem;
    border-radius: 0;
  }

  background: #13171f; //TODO: check/make var for it;
  color: $coa-color-white;
  font-family: $coa-font-sans;

  a {
    &:hover {
      color: #d9e8f6;
    }
  }
}

.coa-Footer__links {
  background: $coa-color-white;
  height: 5rem;
  line-height: 5rem;
  a {
    font-size: $coa-font-size-xsmall;
    text-decoration: none;
    &:visited {
      color: $coa-color-primary;
    }
  }
  @include tablet-and-desktop {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  @include mobile {
    text-align: center;
  }
}

.coa-Footer__city-seal-wrapper {
  text-align: center;
  // padding: $coa-space-level5 0 $coa-space-level3;
  // @include media($coa-medium-screen) {
  //   padding: $coa-space-level6 0 $coa-space-level3;
  // }
  svg {
    height: 180px !important;
    width: 180px !important;
  }
}

.coa-Footer__work-in-progress {
  text-align: center;
  font-size: $coa-font-size-small;
  line-height: $coa-line-height-small;
  font-weight: $coa-font-bold;
  white-space: pre-line;

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-medium;
    line-height: $coa-line-height-medium;
    font-weight: $coa-font-regular;
  }

  max-width: 660px;
  margin: auto;

  a {
    color: $coa-color-white;
    &:visited {
      color: $coa-color-white;
    }
    svg {
      margin-left: $coa-space-level1;
      vertical-align: middle;
      path {
        fill: $coa-color-white;
      }
    }
  }
}

.coa-Footer__icons {
  a {
    margin-right: $coa-space-level4;
  }
  svg {
    path {
      fill: $coa-color-white;
    }
    &:hover {
      path {
        fill: $coa-color-blue;
      }
    }
  }
  @include media($coa-medium-screen) {
    text-align: right;
  }
}

.coa-Footer__more_text_boxes {
  display: flex;
  flex-direction: column;
  @include media($coa-medium-screen) {
    flex-direction: row;
  }
  justify-content: center;
}

.coa-Footer__more_text_box {
  justify-content: center;
  text-align: center;
  max-width: 40rem;
  margin: 3rem;

  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-xsmall;

  @include media($coa-medium-screen) {
    font-size: $coa-font-size-smedium;
    line-height: $coa-line-height-smedium;
  }

  a {
    color: $coa-color-white;
    &:visited {
      color: $coa-color-white;
    }
    svg {
      margin-left: $coa-space-level1;
      vertical-align: middle;
      path {
        fill: $coa-color-white;
      }
    }
  }
}

.coa-Footer__link {
  color: $coa-color-white;
  &:visited {
    color: $coa-color-white;
  }
}

.coa-FooterSiteMap {
  display: none;

  @include media($coa-medium-screen) {
    display: inherit;
    // background: $coa-color-grey;
    padding: $coa-spacing-xlarge 0;

    .coa-ThemesTopicsMenu--FooterSiteMap {
      max-width: $coa-large-screen;
      margin-left: auto;
      margin-right: auto;
      padding: 0 $coa-spacing-xlarge;

      .coa-ThemesTopicsMenu__section:nth-child(n + 5):before {
        border: none;
      }

      .coa-ThemesTopicsMenu__theme {
        color: #ffffff; //TODO: use a var
        margin-bottom: $coa-spacing-small;
      }

      .coa-ThemesTopicsMenu__link {
        text-decoration: none;
        color: #81aefc; //TODO: use a var
        font-size: $coa-font-size-xsmall;
        &:visited {
          color: #81aefc; //TODO: use a var
        }
        &:hover {
          color: $coa-color-darker-blue;
        }
      }
    }
  }
}

.coa-FooterMobileSiteMap {
  @include media($coa-medium-screen) {
    display: none;
  }
}

.coa-ThemesTopicsMobileMenu__theme-container {
  background: $coa-color-grey;
}

.coa-ThemeAccordianItem__name {
  font-weight: $coa-font-medium;
  font-size: $coa-font-size-xsmall;
  flex: auto;
  color: $coa-color-dark-blue;
}

.coa-ThemeAccordionButton {
  display: flex;
  align-items: center;
  color: $coa-color-primary;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top: 1px solid $coa-color-dark-grey;
}
