.coa-Footer {
  background: $coa-color-primary;
  color: $coa-color-white;
  font-family: $coa-font-sans;
  padding-bottom: $coa-spacing-large;
  a {
    &:hover {
      color: #D9E8F6;
    }
  }
}

.coa-Footer__city-seal-wrapper {
  text-align: center;
  // padding: $coa-space-level5 0 $coa-space-level3;
  // @include media($coa-medium-screen) {
  //   padding: $coa-space-level6 0 $coa-space-level3;
  // }
  svg {
    height: 180px !important;
    width: 180px !important;
  }
}

.coa-Footer__work-in-progress {
  text-align: center;
  font-size: $coa-font-size-medium;
  line-height: $coa-line-height-medium;
  // @include media($coa-medium-screen) {
  //   font-size: $coa-font-size-xxlarge;
  //   line-height: $coa-line-height-xxlarge;
  // }
  max-width: 660px;
  margin: auto;
}

.coa-Footer__icons {
  a {
    margin-right: $coa-space-level4;
  }
  svg {
    path {
      fill: $coa-color-white;
    }
    &:hover {
      path {
        fill: $coa-color-blue;
      }
    }
  }
  @include media($coa-medium-screen) {
    text-align: right;
  }
}

.coa-Footer__more_text_boxes {
  display: flex;
  flex-direction: column;
  @include media($coa-medium-screen) {
    flex-direction: row;
  }
  justify-content: center;
}

.coa-Footer__more_text_box {
  justify-content: center;
  text-align: center;
  max-width: 37.5rem;
  margin: 3rem;
}

.coa-Footer__link {
  color: $coa-color-white;
  &:visited {
    color: $coa-color-white;
  }
}
