{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "react-intl-auto", {
        "removePrefix": true,
        "filebase": false,
        "includeExportName": true,
        "extractComments": true
      },
    ],
    [
      "@babel/transform-runtime", {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
