.coa-loading_wheel {
  width: 80px;
  height: 80px;
  border-top: 5px solid #F0F0F0;
  border-right: 5px solid #F0F0F0;
  border-left: 5px solid #0049c7;
  border-bottom: 5px solid #0049c7;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 80px;
  opacity: 0;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(359deg) }
}
