.coa-SectionHeader {
  color: $coa-color-decently-black;
  padding-top: $coa-spacing-large;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: $coa-space-level4;

  @include media($coa-medium-screen) {
    padding-top: $coa-spacing-xlarge;
  }
}

.coa-SectionHeader h2 {
  text-align: left;

  a {
    color: inherit;
    text-decoration: none;
  }

  svg {
    height: 14px;
    width: 14px;
    @include media($coa-small-screen) {
      height: 20px;
      width: 20px;
    }
    @include media($coa-medium-screen) {
      height: 30px;
      width: 30px;
    }
    @include media($coa-large-screen) {
      height: 38px;
      width: 38px;
    }
    path {
      fill: $coa-color-white;
    }
  }
}

.coa-SectionHeader--isSerif h2 {
  font-family: $coa-font-serif;
  font-weight: $coa-font-regular;
  font-size: $coa-font-size-medium;
  line-height: $coa-line-height-medium;
  text-transform: none;
  @include media($coa-small-screen) {
    font-size: $coa-font-size-large;
    line-height: $coa-line-height-large;
  }
}

.coa-SectionHeader--hasHighlight h2:after {
  background: $coa-color-orange;
  content: '';
  display: block;
  height: $coa-sectionheader-highlight-height;
  margin: $coa-spacing-medium auto $coa-spacing-xlarge;
  width: $coa-sectionheader-highlight-width;
}

.coa-SectionHeader--hasSymbol h2 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.coa-SectionHeader__symbol {
  align-items: center;
  display: flex;
  height: $coa-sectionheader-symbol-radius * 2;
  justify-content: center;
  margin-bottom: $coa-spacing-small;
  position: relative;
  width: $coa-sectionheader-symbol-radius * 2;

  @include media($coa-small-screen) {
    height: $coa-sectionheadersmall-symbol-radius * 2;
    margin-bottom: $coa-spacing-medium;
    width: $coa-sectionheadersmall-symbol-radius * 2;
  }

  @include media($coa-medium-screen) {
    height: $coa-sectionheadermedium-symbol-radius * 2;
    margin-bottom: $coa-spacing-large;
    width: $coa-sectionheadermedium-symbol-radius * 2;
  }

  @include media($coa-large-screen) {
    height: $coa-sectionheaderlarge-symbol-radius * 2;
    margin-bottom: $coa-spacing-xlarge;
    width: $coa-sectionheaderlarge-symbol-radius * 2;
  }
}

.coa-SectionHeader__symbol:before {
  border: $coa-sectionheader-symbol-stroke solid $coa-color-green-light;
  border-radius: $coa-sectionheader-symbol-radius;
  content: '';
  height: $coa-sectionheader-symbol-radius * 2;
  left: 0;
  position: absolute;
  top: 0;
  width: $coa-sectionheader-symbol-radius * 2;

  @include media($coa-small-screen) {
    border-radius: $coa-sectionheadersmall-symbol-radius;
    height: $coa-sectionheadersmall-symbol-radius * 2;
    width: $coa-sectionheadersmall-symbol-radius * 2;
  }

  @include media($coa-medium-screen) {
    border-radius: $coa-sectionheadermedium-symbol-radius;
    height: $coa-sectionheadermedium-symbol-radius * 2;
    width: $coa-sectionheadermedium-symbol-radius * 2;
  }

  @include media($coa-large-screen) {
    border-radius: $coa-sectionheaderlarge-symbol-radius;
    height: $coa-sectionheaderlarge-symbol-radius * 2;
    width: $coa-sectionheaderlarge-symbol-radius * 2;
  }
}

.coa-SectionHeader__description {
  padding-bottom: $coa-spacing-large;
  text-align: center;
}
