.coa-LanguageSelectBar {
  background-color: $coa-color-primary;
  color: $coa-color-white;
  font-family: $coa-font-sans;
  z-index: 0;
  @include mobile {
    background-color: $coa-color-black-grey;
  }
}

.coa-LanguageSelectBar__list {
  color: $coa-color-white;
  list-style: none;
  height: 56px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
  @include media($coa-medium-screen) {
    justify-content: flex-end;
    padding-left: 0px;
  }
  @include mobile-small {
    text-align: center;
    display: inherit;
    padding-top: 5px;
    height: 42px;
  }
  li {
    margin: 0;
    @include mobile-small {
      padding: 10px;
      display: inline;
      a {
        font-size: 14px;
      }
    }
  }
}

.coa-LanguageSelectBar__list--showMessage {
  background-color: $coa-color-white;
}

.coa-LanguageSelectBar__background {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 365px;
  border-radius: 4px 4px 0px 0px;
  border-color: #1493FF;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  @include media($coa-medium-screen) {
    margin-left: -15px;
    background: $coa-color-white;
  }
}

.coa-LanguageSelectBar__background--active {
  /* should not be shown on mobile ever */
  @include media($coa-medium-screen) {
    display: inherit;
  }
  z-index: 0;
  height: 61px;
}
.coa-rtl {
  .coa-LanguageSelectBar__list {
    flex-direction: row-reverse;
  }
}

.coa-LanguageSelectBar__item {
  color: $coa-color-white;
  opacity: 0.75;
  cursor: pointer;
  display: inline-block;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-md-small;
  margin: 0 0 0 $coa-spacing-xsmall;
  padding: 0 $coa-spacing-medium 0 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  @include media($coa-medium-screen) {
    // margin: 0;
  }
  &:visited {
    color: $coa-color-white;
  }
  &.coa-LanguageSelectBar__item--active {
    color: $coa-color-white;
    opacity: 1;
    font-weight: 600;
  }
  &.coa-LanguageSelectBar__item--showMessage {
    color: $coa-color-almost-black;
  }
  &.coa-LanguageSelectBar__item--activeMessage {
    color: $coa-color-primary;
  }
}

.coa-LanguageChevron {
  position: relative;
  top: 3px;
  font-size: 1.8rem;
}
