.coa-LanguageSelectBar {
  background-color: $coa-color-primary;
  color: $coa-color-white;
  font-family: $coa-font-sans;
  border-bottom: 1px solid #80A8EB;
  @include media($coa-medium-screen) {
    border-bottom: none;
  }

}

.coa-LanguageSelectBar__list {
  color: $coa-color-white;
  list-style: none;
  height: $coa-languageselectbar-height;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include media($coa-medium-screen) {
    justify-content: flex-end;
    border-left: 1px solid #407CE2;
  }

  li {
    margin: 0;
  }
}

.coa-rtl {
  .coa-LanguageSelectBar__list {
    flex-direction: row-reverse;
  }
}

.coa-LanguageSelectBar__item {
  color: $coa-color-white;
  opacity: 0.75;
  cursor: pointer;
  display: inline-block;
  font-size: $coa-font-size-xsmall;
  line-height: $coa-line-height-md-small;
  margin: 0 0 0 $coa-spacing-xsmall;
  padding: 0 $coa-spacing-small;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  @include media($coa-medium-screen) {
    margin: 0 0 0 $coa-space-level3;
  }
  &:visited {
    color: $coa-color-white;
  }
  &.coa-LanguageSelectBar__item--active {
    color: $coa-color-white;
    opacity: 1;
    font-weight: 600;
  }
}
