@import 'src/css/base/mixins';

.coa-PageBanner__container {
  display: flex;
  position: relative;
  height: 17rem;
  margin-top: 47px;
  @include tablet-and-desktop {
    height: 30rem;
  }
}

.coa-PageBanner__container-mobile-optimized {
  height: 12rem;
  .coa-PageBanner__header {
    background: $coa-color-primary;
  }
}

.coa-PageBanner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'; // This is for https://www.npmjs.com/package/object-fit-images
}

.coa-PageBanner__header {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: $coa-color-white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
