.coa-PageBanner {
  object-fit: cover;
  width: 100%;
  height: 17rem;
  margin-bottom: $coa-space-level4;

  @include media($coa-small-screen) {
    height: 41rem;
  }
  @include media($coa-medium-screen) {
    height: 32rem;
  }
}
