.coa-RelatedEvents__container {
  margin-width: $coa-spacing-large $coa-spacing-medium;
  padding-top: 20px;
  border-top: 1px solid #DCDEE0;
}

.coa-RelatedEvents__icon {
  font-size: 32px;
  margin-right: 16px;
  color: #0049c7;
}

.coa-RelatedEvents__heading {
  font-size: 32px;
  color: #171717;
  font-weight: 500;
  margin-bottom: 30px;
  @include media($coa-medium-screen) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.coa-RelatedEvents__events {
  
}