.coa-search_result {
  border-bottom: $coa-border-small-light-gray;
  margin-top: $coa-space-level4;
  padding-bottom: $coa-space-level4;
}

.coa-search_result-title, .coa-search_result-pdf {
  text-decoration: none;
  font-weight: $coa-font-medium;
  font-size: $coa-font-size-md-small;
  border-bottom: none;
}

.coa-search_result-pdf {
  font-weight: $coa-font-regular;
}

.coa-search_result-pdf-size {
  font-size: $coa-font-size-small;
}

.coa-search_result-text {
  margin-top: $coa-space-level3;
  margin-bottom: $coa-space-level3;
  font-weight: $coa-font-regular;
  font-size: 1.8rem;
  line-height: $coa-line-height-xsmall;
}

.coa-search_result-topics {
  line-height: $coa-line-height-xsmall;
  color: #454545;
  font-size: 1.6rem;
  a {
    font-size: 1.8rem;
  }
}

.coa-search_result-topics.from {
  margin-top: $coa-space-level1;
}

.coa-search_result-locations {
  display: flex;
}

.coa-search_result-icon-container {
  display: inline;
  background-color: #F7F9FA;
  width: 88px;
  height: 96px;
  text-align: center;
  padding-top: 30px;
  margin-right: 20px;
  border-radius: 4px;
  min-width: 71px;
  flex-shrink: 0;
  @include mobile-small {
    width: 63px;
    height: 80px;
    min-width: 63px;
    padding-top: 20px;
  }
}

.coa-search_results-address {
  color: $coa-color-almost-black;
}


/*
  Most of the event page results are styled by ../_Event.scss.
  .. Here, we have specific overrides from classes placed in../EventList/EventListEntry.js
*/
.coa-SearchPage_result {
  margin-top: $coa-space-level4;
  padding-bottom: 0px;
}

.coa-SearchPage_results-calendar {
  height: 112px;
  min-width: 88px;
  .coa-EventListPage__DateCal-date {
    line-height: 75px;
    min-width: 70px;
    font-size: 4.8rem;
  }
  @include mobile-small {
    height: 80px;
    width: 63px;
    min-width: 63px;
    .coa-EventListPage__DateCal-date {
      line-height: 51px;
      min-width: 63px;
      font-size: $coa-font-size-md-small;
    }
  }
}
