.coa-search_result {
  border-bottom: $coa-border-small-light-gray;
  margin-top: $coa-space-level4;
  padding-bottom: $coa-space-level3;
  a {
    text-decoration: none;
    font-weight: $coa-font-medium;
    font-size: $coa-font-size-md-small;
    border-bottom: none;
  }
}

.coa-search_result-title {
  font-weight: $coa-font-medium;
  font-size: $coa-font-size-md-small;
}

.coa-search_result-summary {
  margin-top: $coa-space-level2;
  font-weight: $coa-font-regular;
  font-size: 1.8rem;
  line-height: $coa-line-height-xsmall;
}

.coa-search_result-topics {
  margin-top: $coa-space-level1;
  line-height: $coa-line-height-xxsmall;
  color: #454545;
  font-size: 1.6rem;
}

.coa-search_result-locations {
  display: flex;
}



/*
  Most of the event page results are styled by ../_Event.scss.
  .. Here, we have specific overrides from classes placed in../EventList/EventListEntry.js
*/
.coa-SearchPage_result {
  margin-top: $coa-space-level4;
  padding-bottom: $coa-space-level3;
}

.coa-SearchPage_results-calendar {
  height: 112px;
  min-width: 88px;
  .coa-EventListPage__DateCal-date {
    line-height: 75px;
    min-width: 70px;
    font-size: 4.8rem;
  }
  @include mobile {
    width: 63px;
    min-width: 81px;
  }
}

// 📱Styles for screen at or less than 480px
@media only screen and (max-device-width: $coa-small-screen) {
  .coa-SearchPage_results-calendar {
    height: 80px;
    width: 63px !important;
    min-width: 63px !important;
    .coa-EventListPage__DateCal-date {
      line-height: 51px;
      min-width: 63px !important;
      font-size: $coa-font-size-md-small;
    }
  }

}
