.coa-search_bar_container {
  background-color: $coa-color-white;
  border: $coa-border-small-light-gray;
  border-radius: $coa-border-radius-medium;
  box-shadow: $coa-box-shadow-medium;
  margin-top: 35px;
  margin-bottom: 37px;
  height: 64px;
  display: flex;
  @include mobile-small {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    margin-top: 8px;
    margin-bottom: 0px;
  }
}

.coa-search_inputs {
  margin: 9px;
  padding-left: 6px;
  border: none;
  background-color: $coa-color-white;
  font-size: $coa-font-size-md-small;
  font-weight: 100;
  @include mobile-small {
    background-color: $coa-color-white;
    border: $coa-border-small-light-gray;
    border-radius: $coa-border-radius-medium;
    box-shadow: $coa-box-shadow-medium;
    font-size: $coa-font-size-xxsmall;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
  }
}

.coa-search_button {
  color: $coa-color-white;
  font-weight: $coa-font-medium;
  font-size: 1.6rem;
  background-color: $coa-color-primary;
  border-radius: $coa-button-border-radius;
  margin: $coa-space-level2;
  padding: $coa-space-level2 $coa-space-level4;
  opacity: 1;
  @include mobile-small {
    padding: $coa-space-level2 $coa-space-level3;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 5px;
    height: 42px;
  }
}

.coa-search_button:hover {
  background-color: #2672DE;
  color: $coa-color-white;
}

#coa-search_results {
  opacity: 1;
  transition: opacity .3s;
}

.coa-search_results-total {
  font-size: $coa-font-size-medium;
  font-weight: $coa-font-medium;
  line-height: $coa-line-height-medium;

  color: $coa-color-darker-grey;
  margin: $coa-space-level7;
  margin-left: 0px;
}

.coa-search_results-zero-message {
  margin-top: -15px;
  margin-bottom: 12px;
}

.coa-search_results-zero {
  font-size: 1.8rem;
  line-height: $coa-line-height-small;
}
