// @import 'src/css/base/mixins';
// @import 'src/css/base/variables';
// @import 'src/components/PageBanner/PageBanner';

.coa-searchPage_input {
  margin: 10px;
  width: 300px;
  max-width: 300px;
}

.coa-searchPage_search-button {
  background-color: #eee;
  padding: 5px;
}
