.coa-HtmlFromAdmin {
  margin: $coa-spacing-large 0;
}

.coa-HtmlFromAdmin__content {
  > br {
    display: none;
  }

  > h1 {
    @include heading2();
    text-transform: uppercase;
    text-align: center;
  }

  > h2 {
    @include heading3();
    text-transform: uppercase;
    text-align: center;
  }

  > ul,
  > ol {
    list-style-position: outside;
    margin-bottom: $coa-spacing-medium;
    margin-top: $coa-spacing-medium;
    padding-left: $coa-spacing-medium;

    p {
      display: inline;
    }
  }
}
