.FosterPetForm {
  .radio {
    // USWDS overrides 🤮
    input {
      appearance: radio;
      border: inherit;
      border-radius: auto;
      box-sizing: border-box;
      color: initial;
      display: block;
      float: left;
      font-size: inherit;
      height: auto;
      left: auto;
      line-height: 1.3;
      margin: 0.2em 0.2em 0.2em 0;
      max-width: 46rem;
      padding: 1rem 0.7em;
      position: relative;
      width: auto;
    }
  }
}
