.coa-Trashy {
  border-left: none;
  border-right: none;
  margin: auto;
  padding: $coa-spacing-large $coa-spacing-medium;
  max-width: $coa-medium-screen;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px;
}

.coa-Trashy__autosuggestion {
  border: solid 1px gray;
  padding: 1rem;
}

.coa-Trashy__autosuggestion-clear {
  position: relative;
  float: right;
  bottom: 3.5rem;
  right: 1rem;
  background: white;
  height: 2.5rem;
}

// schedule styles
.coa-Trashy__schedule-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.coa-Trashy__schedule-header {
  margin-bottom: 3rem;
}

.coa-Trashy__schedule-list-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 1.5rem;

  h4 {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
  }
}

.coa-Trashy__schedule-list-pickup-item {
  margin-bottom: 2rem;

  li {
    text-decoration: none;
  }
}

.coa-Trashy__schedule-bulk-pickup {
}
