.coa-TileGroupSet {
  display: flex;
  justify-content: center;

  .coa-TileGroup {
    margin: $coa-tile-group-margin;
    width: 100% - ( $coa-tile-group-margin * 2 );
  }

  @include media($coa-medium-screen) {

    /* two or more groups */
    .coa-TileGroup:nth-last-child(n+2):first-child,
    .coa-TileGroup:nth-last-child(n+2):first-child  ~ .coa-TileGroup {
      width: 50% - ( $coa-tile-group-margin * 2 );
      .coa-TileGroup__tile {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  @include media($coa-large-screen) {

    /* two groups */
    .coa-TileGroup:nth-last-child(2):first-child,
    .coa-TileGroup:nth-last-child(2):first-child  ~ .coa-TileGroup {
      width: 50% - ( $coa-tile-group-margin * 2 );
      .coa-TileGroup__tile {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    /* three or more groups */
    .coa-TileGroup:nth-last-child(n+3):first-child,
    .coa-TileGroup:nth-last-child(n+3):first-child ~ .coa-TileGroup {
      width: 33% - ( $coa-tile-group-margin * 2 );
      .coa-TileGroup__tile {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
