.coa-ExternalLink {
  color: $coa-color-blue;
  &:visited {
    color: $coa-color-blue;
  }
  svg {
    margin-left: $coa-space-level1;
    vertical-align: middle;
    path {
      fill: $coa-color-blue;
    }
  };
}

.rtl {
  .coa-ExternalLink {
    svg {
      margin-right: $coa-space-level1;
      margin-left: 0;
    }
  }
}
