.coa-form__label {
  margin-top: $coa-space-level4;

  & > span {
    color: $color-gray-medium;
    display: block;
    font-size: $small-font-size;
    font-style: italic;
    text-align: right;
  }
}

.coa-form__actions {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: $coa-space-level4;

  & > input, a, button {

    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
.coa-form__actions__link {
  cursor: pointer;
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
}
