.coa-Hero {
  @include box-verticalcenter(200px);
  background-color: $color-gray-lighter;
  margin-bottom: $coa-space-level4;
  padding: $coa-space-level5;
}

.coa-Hero--image {
  background-color: $color-gray-lighter;
  background-position: center center;
  background-size: cover;
  height: 17rem;
  @include media($coa-small-screen) {
    height: 24rem;
  }
  @include media($coa-medium-screen) {
    height: 32rem;
  }
}

.coa-Hero__callout {
  .wrapper {
    width: 100%;
  }
  h2 {
    font-weight: $font-bold;
    margin: 0;
  }
}
.coa-Hero__home {
  flex-direction: column;
  padding: 4rem;
  height: 26rem;
  @include media($coa-small-screen) {
    height: 26rem;
  }
  @include media($coa-medium-screen) {
    height: 40rem;
  }
  @include media($coa-large-screen) {
    height: 44rem;
  }
}

.coa-Hero__overlay {
  background-color: rgba(#240B33, .3);
}
