.coa-HtmlFromAdmin {

  > br {
    display: none;
  }

  > h1 {
    @include heading2();
    text-transform: uppercase;
    text-align: center;
  }

  > h2 {
    @include heading3();
    text-transform: uppercase;
    text-align: center;
  }

  > ul, > ol {
    list-style-position: outside;
    margin-bottom: $coa-space-level4;
    margin-top: $coa-space-level4;
    padding-left: $coa-space-level4;

    p {
      display: inline;
    }
  }
}
