.coa-ListLink {
  @include box-verticalcenter(7.5rem);
  border-bottom: 1px dashed $color-gray-dark;
  font-family: $coa-font-sans;
  font-size: $coa-font-size-small;
  padding: $coa-spacing-medium;
  text-decoration: none;
  text-transform: uppercase;

  i {
    padding-left: $coa-spacing-small;
  }
}
