.coa-PageBreadcrumbs {
  border-bottom: 1px dashed $coa-color-gray;
  font-family: $coa-font-sans;
  font-size: $coa-base-font-size-small;
  font-weight: $coa-font-semibold;
  line-height: $coa-spacing-xlarge;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  a {
    color: $coa-color-purple-light;
    display: none;
    margin-right: $coa-spacing-small;
    text-decoration: none;
    white-space: nowrap;

    &:before {
      content: "<";
      padding-right: $coa-spacing-small;
    }

    &.coa-PageBreadcrumbs__topic {
      display: inline;
    }

    @include media($coa-large-screen) {
      &.coa-PageBreadcrumbs__theme {
        display: inline;
      }

      &.coa-PageBreadcrumbs__home {
        display: inline;
        &:before {
          content: "";
          padding-right: 0;
        }
      }
    }
  }

  .coa-PageBreadcrumbs__title {
    color: $coa-color-orange;
    display: none;
    &:before {
      content: "<";
      padding-right: $coa-spacing-small;
    }

    @include media($coa-medium-screen) {
      display: inline;
    }
  }
}
