.coa_SectionTitle {
  margin: $coa-space-level7 auto $coa-space-level6;
  text-transform: uppercase;
  text-align: center;
  font-size: $h2-font-size;
  font-weight: bold;
  max-width: 100% !important; // needed to override coa0-main textwrap. TODO: talk to simi
  &:after {
    margin: $coa-space-level4 auto;
    width: 40px;
    background: $coa-color-orange;
    height: 8px;
    display: block;
    content: "";
  }
}
