.coa_SectionHeader {
  text-transform: uppercase;
  text-align: center;

  a {
    color: $coa-color-purple-darkest;
    text-decoration: none;
  }

  svg {
    height: 14px;
    @include media($coa-small-screen) {
      height: 20px;
    }
    @include media($coa-medium-screen) {
      height: 30px;
    }
    @include media($coa-large-screen) {
      height: 38px;
    }
  }
}

.coa_SectionHeader--isSerif {
  font-family: $coa-font-serif;
  font-weight: $coa-font-regular;
  font-size: $coa-font-size-medium;
  line-height: $coa-line-height-medium;
  margin-top: 0;
  text-transform: none;
  @include media($coa-small-screen) {
    font-size: $coa-font-size-large;
    line-height: $coa-line-height-large;
  }
}

.coa_SectionHeader--hasHighlight:after {
  margin: $coa-spacing-medium auto $coa-spacing-xlarge;
  width: 34px;
  background: $coa-color-orange;
  height: 8px;
  display: block;
  content: "";
}
