.coa-section {
  margin-bottom: $coa-space-level8;
  margin-top: $coa-space-level7;
}

.coa-section--grey {
  background-color: $color-gray-lighter;
  margin: 0;
  padding-bottom: $coa-space-level8;
  padding-top: $coa-space-level7;
}

.coa-section--lightgrey {
  @extend .coa-section--grey;
  background-color: $color-gray-lightest;
}

.coa-section__subsection {
  margin-bottom: $coa-space-level4;
  &:last-child {
    margin-bottom: 0;
  }
}

.coa-section__title {
  border-bottom: 5px solid $color-black;
  margin-bottom: $coa-space-level2;
  padding-bottom: $coa-space-level2;

  & > h3 {
    @include media($coa-medium-screen) {
      font-size: $h2-font-size;
      font-weight: $font-bold;
    }
  }
}

.coa-section__title--noborder {
  border-bottom: none;
  margin-bottom: $coa-space-level4;
  padding-bottom: 0;
}

.coa-section__subtitle {
  font-style: italic;
  margin-bottom: $coa-space-level2;
  margin-top: $coa-space-level2;
}

.coa-section__map {
 margin-bottom: $coa-space-level2;
 & > a,
 & > span {
  display: block;
 }
}

.coa-section__link {
  display: inline-block;
  margin-top: $coa-space-level7;
}
