.coa-TileGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .coa-Tile {
    flex-grow: 1 ;
    flex-shrink: 0;
    flex-basis: 98%;
    margin: 1%;
    @include media($coa-small-screen) {
      flex-basis: 50% - 4%;
    }
    @include media($coa-large-screen) {
      flex-basis: 25% - 8%;
    }
  }
}
