.coa-Tile {
  background-color: $coa-color-gray-lighter;
  display: flex;
  flex-direction: column;
  height: $coa-tile-height;
  margin: $coa-spacing-small;
  padding: $coa-spacing-medium $coa-spacing-medium $coa-spacing-large ;
  text-decoration: none;
  &:hover {
    background-color: $coa-color-gray-lightest;
  }
}

.coa-Tile__tag {
  color: $coa-color-blue;
  font-family: $coa-font-sans;
  font-size: $coa-font-size-small;
  font-weight: $coa-font-bold;
  text-transform: uppercase;
}

.coa-Tile__text {
  color: $coa-color-purple-dark;
  flex-grow: 1;
  font-family: $coa-font-sans;
  font-size: $coa-font-size-md-small;
  line-height: $coa-line-height-md-small;
  margin: $coa-space-level1 0 $coa-space-level3;
}
