.coa-TileGroup {
  .coa-Tile {
    flex-grow: 1 ;
    flex-shrink: 0;
    flex-basis: 98%;
    margin: $coa-tile-spacearound;
    @include media($coa-small-screen) {
      flex-basis: 50% - (4 * $coa-tile-spacearound);
    }
    @include media($coa-large-screen) {
      flex-basis: 25% - (8 * $coa-tile-spacearound);
    }
  }
}

.coa-TileGroup--border {
  border: 4px solid $coa-color-blue;
  border-radius: 6px;
  padding: 0 $coa-space-level7 $coa-space-level7;
  margin: $coa-space-level7 $coa-space-level6;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.coa-TileGroup__title {
  margin: auto;
  a {
    text-decoration: none;
    color: $coa-color-purple-darkest;
  }
}

.coa-TileGroup__tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coa-TileGroup__tiles--column {
  flex-direction: column;
}
