.coa-wysiwyg {
  > br {
    display: none;
  }

  > h1, h2 {
    font-size: $h3-font-size;
    margin-bottom: $coa-space-level2;
    margin-top: $coa-space-level7;

    &:first-child {
      margin-top: 0;
    }

    @include media($coa-medium-screen) {
      font-size: $h2-font-size;
      font-weight: $font-bold;
    }
  }

  > p {
    margin: 0;
    margin-bottom: $coa-space-level4;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > ul, ol {

    margin-bottom: $coa-space-level4;

    > li > p {
      margin: 0;
      display: inline;
    }

    ol, ul {
      margin-left: $coa-space-level4;
      list-style-type: disc;

      li {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > ul > li {
    margin-bottom: 0;
  }

  > ol > li {
    margin-bottom: $coa-space-level2;
  }
}
